{% if consulting_contents | length > 0 %}
    <section class="consulting slide">
        <div class="container">
            <div class="main-title">
                <div class="main-title__ico">
                    <img loading="lazy" src="{% static "images/speaker.png" %}"/>
                </div>
                <div class="main-title__text">
                    <h1>비세이프와 함께 성장하는, <strong>스타트업</strong></h1>
                    <h2>프로그램에 참여 중인 파트너사들을 소개합니다.</h2>
                </div>
            </div>
            <div class="consulting__panel">
                <div class="consulting__panel__prev slide-left"></div>
                <div class="consulting__panel__carousel slide-stop"></div>
                <div class="consulting__panel__next slide-right"></div>
            </div>
        </div>
        <ul class="consulting__list slide-ul">
            {% for cc in consulting_contents %}
                <li class="consulting__card">
                    <div class="consulting__card__top">
                        <img loading="lazy" class="consulting__card__img" src="{{ cc.profile_img.url }}"/>
                        <div class="consulting__card__name">
                            <div class="div">{{ cc.profile_company }}</div>
                            <div class="name">{{ cc.profile_name }}</div>
                        </div>
                        <div class="consulting__card__item">
                            <div class="title">{{ cc.consulting_title }}</div>
                            <div class="desc">{{ cc.consulting_description | safe }}</div>
                        </div>
                    </div>
                    {% for item in cc.consulting_items %}
                        <div class="consulting__card__tag">
                            <div class="mark"><span>B</span></div>
                            <div class="title">{{ item }}</div>
                        </div>
                    {% endfor %}
                    <div class="consulting__card__bottom">
                        <h1>{{ cc.review_title }}</h1>
                        <p>{{ cc.review_contents | safe }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
