<section class="consulting">
    <div class="container">
        <div class="main-title">
            <div class="main-title__ico">
                <img src="{% static "images/speaker.png" %}"/>
            </div>
            <div class="main-title__text">
                <h1>자본금 마련, <strong>BE SAFE하게!</strong></h1>
                <h2>비세이프 성공사례 고객님들의 컨설팅 후기</h2>
            </div>
        </div>
        <div class="consulting__panel">
            <div class="consulting__panel__prev"></div>
            <div class="consulting__panel__carousel"></div>
            <div class="consulting__panel__next"></div>
        </div>
    </div>
    <ul class="consulting__list">
        <li class="consulting__card"></li>
        <li class="consulting__card"></li>
        <li class="consulting__card"></li>
        <li class="consulting__card"></li>
        <li class="consulting__card"></li>
        <li class="consulting__card"></li>
        <li class="consulting__card"></li>
        <li class="consulting__card"></li>
        <li class="consulting__card"></li>
    </ul>
</section>
