<section class="customers">
    <div class="container">
        <div class="main-title">
            <div class="main-title__text">
                <h1>비세이프와 함께한<br/><strong>120개 이상의 고객사</strong></h1>
                <h2>예비창업부터 기업성장까지, <br/>비세이프의 컨설팅 프로그램은 고객니즈를 적중합니다.</h2>
            </div>
        </div>
    </div>
    <div class="customers__banners banner-marquee">
        {% set banners_counts = ((customer_contents | length) / 2) | int %}
        <ul class="banners right-to-left">
            {% for cc in customer_contents[banners_counts:] %}
                <li class="banner"><img src="{{ cc.banner_img.url }}" alt="{{ cc.company }}"></li>
            {% endfor %}
        </ul>
        <ul class="banners left-to-right">
            {% for cc in customer_contents[:banners_counts] %}
                <li class="banner"><img src="{{ cc.banner_img.url }}" alt="{{ cc.company }}"></li>
            {% endfor %}
        </ul>
    </div>
</section>
