<section class="customers">
    <div class="container">
        <div class="main-title">
            <div class="main-title__text">
                <h1>비세이프와 함께한<br/><strong>120개 이상의 고객사</strong></h1>
                <h2>예비창업부터 기업성장까지, <br/>비세이프의 컨설팅 프로그램은 고객니즈를 적중합니다.</h2>
            </div>
        </div>
    </div>
    <div class="customers__banners">
        <ul>
            <li><img src="{% static "images/logos/1.png" %}"/></li>
            <li><img src="{% static "images/logos/2.png" %}"/></li>
            <li><img src="{% static "images/logos/3.png" %}"/></li>
            <li><img src="{% static "images/logos/4.png" %}"/></li>
            <li><img src="{% static "images/logos/5.jpeg" %}"/></li>
            <li><img src="{% static "images/logos/6.png" %}"/></li>
            <li><img src="{% static "images/logos/7.png" %}"/></li>
            <li><img src="{% static "images/logos/1.png" %}"/></li>
            <li><img src="{% static "images/logos/2.png" %}"/></li>
            <li><img src="{% static "images/logos/3.png" %}"/></li>
            <li><img src="{% static "images/logos/4.png" %}"/></li>
            <li><img src="{% static "images/logos/5.jpeg" %}"/></li>
            <li><img src="{% static "images/logos/6.png" %}"/></li>
            <li><img src="{% static "images/logos/7.png" %}"/></li>
        </ul>
        <ul>
            <li><img src="{% static "images/logos/8.png" %}"/></li>
            <li><img src="{% static "images/logos/9.png" %}"/></li>
            <li><img src="{% static "images/logos/10.jpeg" %}"/></li>
            <li><img src="{% static "images/logos/11.png" %}"/></li>
            <li><img src="{% static "images/logos/12.png" %}"/></li>
            <li><img src="{% static "images/logos/13.png" %}"/></li>
            <li><img src="{% static "images/logos/8.png" %}"/></li>
            <li><img src="{% static "images/logos/9.png" %}"/></li>
            <li><img src="{% static "images/logos/10.jpeg" %}"/></li>
            <li><img src="{% static "images/logos/11.png" %}"/></li>
            <li><img src="{% static "images/logos/12.png" %}"/></li>
            <li><img src="{% static "images/logos/13.png" %}"/></li>
        </ul>
    </div>
</section>
