<section class="hero" style="background-image: url('{% static "images/CK_tc01500000433.png" %}');">
    <div class="hero__face container">
        <h1>검증된 <strong>스타트업</strong>과<br/><strong>비세이프</strong>의 만남</h1>
        <h3>Besafe consulting & investor<br/>Business conference</h3>
        <button>자세히 보기</button>
        <ul class="hero__face__paging">
            <li class="hr"></li>
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
</section>
