<section class="news slide">
    <div class="news__head">
        <div class="main-title">
            <div class="main-title__text">
                <h1><b>고객사 소식</b></h1>
                <h2>비세이프와 함께한 고객사의 좋은 소식</h2>
            </div>
        </div>
        <div class="news__panel">
            <div class="news__panel__prev slide-left" data-slide_id="cards"></div>
            <div class="news__panel__next slide-right" data-slide_id="cards"></div>
            <div class="news__panel__paging slide-paging" data-slide_id="cards">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </div>
        </div>
    </div>
    <ul class="news__cards slide-ul" data-slide_id="cards">
        <li class="news__card">
            <img class="news__card__img" src="{% static "images/08c3a5362ad0e19f998a984918fd6d68.png" %}">
            <div class="news__card__contents">
                <div class="news__card__contents__name">노브레이너</div>
                <div class="news__card__contents__title">노브레이너, 순수한 대나무 휴지 '비욘드 페이퍼' 출시</div>
                <div class="news__card__contents__description">[제주교통복지신문 신혜정 기자] 지속가능한 소재 대나무를 활용한 친환경 생활용품 브랜드 노브레이너가
                    순수한 대나무만 사용한 프리미엄 휴지 '비욘드페이퍼(Beyond...
                </div>
                <button>자세히보기</button>
            </div>
        </li>
        <li class="news__card">
            <img class="news__card__img" src="{% static "images/08c3a5362ad0e19f998a984918fd6d68.png" %}">
            <div class="news__card__contents">
                <div class="news__card__contents__name">노브레이너</div>
                <div class="news__card__contents__title">노브레이너, 순수한 대나무 휴지 '비욘드 페이퍼' 출시</div>
                <div class="news__card__contents__description">[제주교통복지신문 신혜정 기자] 지속가능한 소재 대나무를 활용한 친환경 생활용품 브랜드 노브레이너가
                    순수한 대나무만 사용한 프리미엄 휴지 '비욘드페이퍼(Beyond...
                </div>
                <button>자세히보기</button>
            </div>
        </li>
        <li class="news__card">
            <img class="news__card__img" src="{% static "images/08c3a5362ad0e19f998a984918fd6d68.png" %}">
            <div class="news__card__contents">
                <div class="news__card__contents__name">노브레이너</div>
                <div class="news__card__contents__title">노브레이너, 순수한 대나무 휴지 '비욘드 페이퍼' 출시</div>
                <div class="news__card__contents__description">[제주교통복지신문 신혜정 기자] 지속가능한 소재 대나무를 활용한 친환경 생활용품 브랜드 노브레이너가
                    순수한 대나무만 사용한 프리미엄 휴지 '비욘드페이퍼(Beyond...
                </div>
                <button>자세히보기</button>
            </div>
        </li>
        <li class="news__card">
            <img class="news__card__img" src="{% static "images/08c3a5362ad0e19f998a984918fd6d68.png" %}">
            <div class="news__card__contents">
                <div class="news__card__contents__name">노브레이너</div>
                <div class="news__card__contents__title">노브레이너, 순수한 대나무 휴지 '비욘드 페이퍼' 출시</div>
                <div class="news__card__contents__description">[제주교통복지신문 신혜정 기자] 지속가능한 소재 대나무를 활용한 친환경 생활용품 브랜드 노브레이너가
                    순수한 대나무만 사용한 프리미엄 휴지 '비욘드페이퍼(Beyond...
                </div>
                <button>자세히보기</button>
            </div>
        </li>
        <li class="news__card">
            <img class="news__card__img" src="{% static "images/08c3a5362ad0e19f998a984918fd6d68.png" %}">
            <div class="news__card__contents">
                <div class="news__card__contents__name">노브레이너</div>
                <div class="news__card__contents__title">노브레이너, 순수한 대나무 휴지 '비욘드 페이퍼' 출시</div>
                <div class="news__card__contents__description">[제주교통복지신문 신혜정 기자] 지속가능한 소재 대나무를 활용한 친환경 생활용품 브랜드 노브레이너가
                    순수한 대나무만 사용한 프리미엄 휴지 '비욘드페이퍼(Beyond...
                </div>
                <button>자세히보기</button>
            </div>
        </li>
        <li class="news__card">
            <img class="news__card__img" src="{% static "images/08c3a5362ad0e19f998a984918fd6d68.png" %}">
            <div class="news__card__contents">
                <div class="news__card__contents__name">노브레이너</div>
                <div class="news__card__contents__title">노브레이너, 순수한 대나무 휴지 '비욘드 페이퍼' 출시</div>
                <div class="news__card__contents__description">[제주교통복지신문 신혜정 기자] 지속가능한 소재 대나무를 활용한 친환경 생활용품 브랜드 노브레이너가
                    순수한 대나무만 사용한 프리미엄 휴지 '비욘드페이퍼(Beyond...
                </div>
                <button>자세히보기</button>
            </div>
        </li>
    </ul>
</section>
