<section class="roadmap" data-active_id="1">
    <div class="container">
        <div class="main-title">
            <div class="main-title__ico">
                <img src="{% static "images/rocket.png" %}"/>
            </div>
            <div class="main-title__text">
                <h1><strong>스타트업</strong>의 <strong>성장 로드맵</strong></h1>
                <h2>비세이프가 만들어갑니다.</h2>
            </div>
        </div>
        <div class="roadmap__contents">
            <nav class="roadmap__contents__nav">
                <dl class="active" data-id="1">
                    <dt>특허설계 서비스</dt>
                    <dd>기술자산화의 기본</dd>
                </dl>
                <dl data-id="2">
                    <dt>사업자금 확보</dt>
                    <dd>가성비 좋은 증자방법!</dd>
                </dl>
                <dl data-id="3">
                    <dt>스케일업 전략</dt>
                    <dd>기억의 가치를 극대화</dd>
                </dl>
                <dl data-id="4">
                    <dt>기업관리 솔루션</dt>
                    <dd>고용, 절세까지 꼼꼼하게</dd>
                </dl>
            </nav>
            <article class="roadmap__contents__banner active" data-id="1">
                <h1>회사의 기본이 되는<br/><strong>특허설계 서비스</strong></h1>
                <h3>
                    특허설계는 회사의 생명입니다.<br/>
                    특허설계 전문가와 함께 회사의 기술력을<br/>
                    자산으로 확보해보세요!
                </h3>
                <button>자세히보기</button>
            </article>
            <article class="roadmap__contents__banner" data-id="2">
                <h1>회사의 기본이 되는<strong>특허설계 서비스</strong></h1>
                <h3>
                    특허설계는 회사의 생명입니다.
                    특허설계 전문가와 함께 회사의 기술력을
                    자산으로 확보해보세요!
                </h3>
                <button>자세히보기</button>
            </article>
            <article class="roadmap__contents__banner" data-id="3">
                <h1>회사의 기본이 되는<strong>특허설계 서비스</strong></h1>
                <h3>
                    특허설계는 회사의 생명입니다.
                    특허설계 전문가와 함께 회사의 기술력을
                    자산으로 확보해보세요!
                </h3>
                <button>자세히보기</button>
            </article>
            <article class="roadmap__contents__banner" data-id="4">
                <h1>회사의 기본이 되는<strong>특허설계 서비스</strong></h1>
                <h3>
                    특허설계는 회사의 생명입니다.
                    특허설계 전문가와 함께 회사의 기술력을
                    자산으로 확보해보세요!
                </h3>
                <button>자세히보기</button>
            </article>
        </div>
    </div>
</section>
