<section class="roadmap" data-active_id="1">
    <div class="container">
        <div class="main-title">
            <div class="main-title__ico">
                <img loading="lazy" src="{% static "images/rocket.png" %}"/>

            </div>
            <div class="main-title__text">
                <h1><strong>스타트업</strong>의 <strong>성장 로드맵</strong></h1>
                <h2>비세이프가 만들어갑니다.</h2>
            </div>
        </div>
        <div class="roadmap__contents shift">
            <nav class="roadmap__contents__nav">
                <dl class="shift__handle active" data-shift_id="1">
                    <dt>컴퍼니빌딩</dt>
                    <dd>모든 창업의 기본</dd>
                </dl>
                <dl class="shift__handle" data-shift_id="2">
                    <dt>SEED 투자</dt>
                    <dd>창업의 핵심 동력/</dd>
                </dl>
                <dl class="shift__handle" data-shift_id="3">
                    <dt>부트캠프</dt>
                    <dd>창업기업의 역량 극대화</dd>
                </dl>
                <dl class="shift__handle" data-shift_id="4">
                    <dt>프로페셔널 네트워킹</dt>
                    <dd>전문가를 통한 실력 배양</dd>
                </dl>
            </nav>
            <article class="roadmap__contents__banner shift__item active" data-shift_id="1">
                <h1>창업의 기본이 되는<br/><strong>컴퍼니빌딩</strong></h1>
                <h3>
                    시장에서 선뜻 도전하지 못했던 <strong>아이템을 과감하게 선정</strong>하고<br/>
                    <strong>사업화에 이르기까지 필요한 모든 과정과 지식</strong>을<br/>
                    창업보육매니저가 집중 케어하며 교육해드립니다.
                </h3>
                <a class="button" href="{% url "program" %}">자세히보기</a>
            </article>
            <article class="roadmap__contents__banner shift__item" data-shift_id="2">
                <h1>아이템 개발에 필요한 SEED자금,<br/><strong>액셀러레이터가 투자해드립니다</strong></h1>
                <h3>
                    창업 초기는 가장 도움이 필요한 시기입니다.<br/>가장 성장 가능성이 높은 스타트업에 <strong>투자</strong>로 동력을 채워드립니다.
                </h3>
                <a class="button" href="{% url "program" %}">자세히보기</a>
            </article>
            <article class="roadmap__contents__banner shift__item" data-shift_id="3">
                <h2 style="font-weight: 100;">창업기업의 성장을 위한 필수 과정!</h2>
                <h1><strong>부트캠프</strong></h1>
                <h3>
                    창업기업이라면 누구나 피할 수 없는 데스밸리, <br/>체계적인 멘토링과 교육을 통해 빠르게 돌파할 수 있습니다.
                </h3>
                <a class="button" href="{% url "program" %}">자세히보기</a>
            </article>
            <article class="roadmap__contents__banner shift__item" data-shift_id="4">
                <h2 style="font-weight: 100;">Seed에서 EXIT 까지,</h2>
                <h1>전문가와 함께 체계적으로</h1>
                <h3>
                    선배 기업, 파트너 변리사와 회계사,<br/>지역 VC / AC와의 연결을 통해 스타트업의 <strong>밸류업</strong>을 같이 완성합니다.
                </h3>
                <a class="button" href="{% url "program" %}">자세히보기</a>
            </article>
        </div>
    </div>
</section>
