<section class="salon">
    <div class="container">
        <h1 class="salon__title">창업 성공 비결 대방출!<br/><strong>비세이프 살롱</strong></h1>
        <div class="salon__biz-counter">
            <span>현재까지 참여 기업</span>
            <b>26+</b>
        </div>
        <button>신청하기</button>
        <div class="salon__chain">
            <div class="salon__chain__circle"><img src="{% static "images/chain-circle.png" %}"/></div>
            <div class="salon__chain__logo"><img src="{% static "images/chain-logo.png" %}"/></div>
        </div>
    </div>
    <div class="salon__items slide">
        <div class="salon__items__head container">
            <div class="salon__ribbon">
                <ul>
                    <li><img src="{% static "images/pg4_banner01.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner02.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner03.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner04.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner05.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner06.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner07.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner08.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner01.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner02.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner03.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner04.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner05.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner06.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner07.png" %}"/></li>
                    <li><img src="{% static "images/pg4_banner08.png" %}"/></li>
                </ul>
            </div>
            <div class="salon__nav">
                <div class="salon__nav__prev slide-left"></div>
                <div class="salon__nav__next slide-right"></div>
            </div>
        </div>
        <div class="salon__items__body">
            <ul class="salon__list slide-ul">
                {% for pc in portfolio_contents %}
                <li>
                    <a href="{% url "portfolio-detail" pk=pc.id %}" class="interview-wrap">
                        <img class="logo" loading="lazy" src="/static/images/pg4_logo02.png" alt="">
                        <p>{{ pc.client }}</p>
                        <div class="rect">
                            <div class="inner"></div>
                        </div>
                        <div class="banner" style="background-image: url('{{ pc.banner_img.url }}')"></div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
