{% extends "portfolio/base.html" %}
{% block portfolio %}
    <section class="list container">
        <ul class="cards">
            <li class="card">
                <div class="img square"></div>
                <div class="label">
                    <div class="client">Client</div>
                    <div class="biz-name">데일리앤핏</div>
                </div>
            </li>
        </ul>
        <div class="paging">
            <ul class="pages">
                <li class="nav prev"></li>
                <li class="page active">1</li>
                <li class="page">2</li>
                <li class="page">3</li>
                <li class="page">4</li>
                <li class="page">5</li>
                <li class="page">6</li>
                <li class="page">7</li>
                <li class="nav next"></li>
            </ul>
        </div>
    </section>
{% endblock %}
