{% extends "portfolio/base.html" %}
{% block portfolio %}
    <div class="detail container">
        <div class="detail__head">
            <h1 class="title">{{ portfolio_contents.biz_name }}</h1>
            <ul class="tags">
                {% for tag in portfolio_contents.tags.all() %}
                    <li class="tag">{{ tag.title }}</li>
                {% endfor %}
            </ul>
            <div class="link">
                <label>사이트 바로가기</label>
                <a>{{ portfolio_contents.detail }}</a>
            </div>
        </div>
        <div class="detail__body">
            <div class="contents">
                <p>{{ portfolio_contents.content }}</p>
            </div>
        </div>
        <div class="detail__foot">
            <div class="paging">
                <div class="nav prev" onclick="location.href='/portfolios/{{ request.path[-1] }}'"></div>
                <div class="nav next" onclick="location.href='/portfolios/{{ request.path[-1] }}'"></div>
            </div>
            <div class="buttons" onclick="location.href='/portfolios'">
                <button>목록으로</button>
            </div>
        </div>
    </div>
{% endblock %}

