{% extends "portfolio/base.html" %}
{% block portfolio %}
    <div class="detail container">
        {% for pc in portfolio_contents %}
        <div class="detail__head">
            <h1 class="title">{{ pc.biz_name | safe }}</h1>
            <ul class="tags">
                <li class="tag">tag</li>
            </ul>
            <div class="link">
                <label>사이트 바로가기</label>
                <a>{{ pc.detail }}</a>
            </div>
        </div>
        <div class="detail__body">
            <div class="contents">
                <p>{{ pc.content }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="detail__foot">
            <div class="paging">
                <div class="nav prev" onclick="location.href='/portfolios/{{ request.path[-1] }}'"></div>
                <div class="nav next" onclick="location.href='/portfolios/{{ request.path[-1] }}'"></div>
            </div>
            <div class="buttons" onclick="location.href='/portfolios'">
                <button>목록으로</button>
            </div>
        </div>
    </div>
{% endblock %}

