@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import 'colors';

html, body {
  margin: 0;
  min-width: 300px;
  height: 100%;

  font-family: 'Pretendard', sans-serif;
}

body * {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  font-family: inherit;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  padding: 14px 18px;
  border-radius: 6px;
  border: 0;

  &.primary {
    background-color: $primary;

    color: #FFF;
    font-size: 14px;
    font-weight: 700;
  }

  &:hover {
    cursor: pointer;
  }
}
