* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

section.sec {
  font-size: 11px;
  @media screen and (max-width: 415px) {
    font-size: 8px;
  }

  .top {
    padding: 3em 0;

    .title {
      padding-top: 5em;
      text-align: center;

      h1 {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 700;
        font-size: 4em;
        color: var(--black);
        margin-bottom: 0.3em;
      }

      h3 {
        font-family: 'Pretendard', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        color: var(--black);
      }
    }
  }

  .bottom {
    padding: 2.5em 0 5em 0;

    button.primary {
      border-radius: 8px;
      background-color: var(--primary);
      color: var(--white);
      border: 0;
      padding: 0.5em 1em;
    }
  }
}
