$primary-900: rgb(0, 28, 13);
$primary-800: rgb(1, 68, 31);
$primary-700: rgb(1, 112, 51);
$primary-600: rgb(2, 157, 71);
$primary: rgb(3, 199, 90, 1);
$primary-400: rgb(3, 199, 90,.8);
$primary-300: rgb(3, 199, 90,.6);
$primary-200: rgb(3, 199, 90,.4);
$primary-100: rgb(3, 199, 90,.2);
$primary-50: rgb(3, 199, 90,.1);

$main: $primary;
$sub: $primary-100;

$border: #D9D9D9;
