@import 'vars-layout';

.m {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }

  @media (max-width: 512px) {
    display: block;
  }
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 768px) {
    max-width: $container-width-t;
  }

  @media (max-width: 512px) {
    max-width: none;
  }
}

.gnb {
  width: 100%;
  height: $gnb-height;
  @media (max-width: 768px) {
    height: $gnb-height-t;
  }

  @media (max-width: 512px) {
    height: $gnb-height-m;
  }
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $border;

    position: absolute;
    left: 0;
    bottom: 0;
  }

  .container {
    padding: 0 1em;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__logo {
    height: 26px;
  }

  &__nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    gap: 4em;

    &__menus {
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 3em;

      @media (max-width: 1080px) {
        gap: 1.8em;
      }

      margin: 0;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &__menu {
      color: #DEDEDE;
      font-size: 16px;
      font-weight: 700;

      &:hover {
        color: #FFFFFF;
      }

      padding-bottom: 0.3em;
      border-bottom: 1px solid transparent;

      &.active {
        color: $primary;
        border-color: $primary;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  @media (max-width: 512px) {
    button {
      display: none;
    }
  }

  &__expand {
    margin-left: 20px;
    display: none;

    width: 2em;
    height: 2em;
    background-image: url("/static/images/icons/menu.png");
    background-size: 2em 2em;
    background-position: center center;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
      display: block;
    }

    @media (max-width: 512px) {
      display: block;
    }

    cursor: pointer;
  }

  $gnb-expand: &;

  &.expand {
    #{$gnb-expand}__nav {
      padding: $gnb-height 2em 0;
      @media (max-width: 768px) {
        padding-top: $gnb-height-t;
      }

      @media (max-width: 512px) {
        padding-top: $gnb-height-m;
        button {
          display: inline-block;
        }
      }

      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      flex-flow: column nowrap;
      justify-content: start;
      align-items: start;

      &__menus {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;

        counter-reset: item;
        padding-top: 2em;
      }

      &__menu {
        counter-increment: item;
        font-size: 33px;
        font-weight: 500;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1em;
        border: 0;

        &:before {
          content: "0" counter(item);
          opacity: 0.5;
          font-size: 16px;
        }

        @media (max-width: 512px) {
          font-size: 24px;
        }
      }
    }

    #{$gnb-expand}__expand {
      display: block;
      width: 100%;
      background-image: url("/static/images/icons/x.png");
      background-position: right center;
    }
  }
}


footer {
  background-color: black;
  padding: 80px 1em;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .frame {
    display: inline-flex;
    align-items: flex-start;
    position: relative;

    .div {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;

      @media (max-width: 512px) {
        flex-flow: column nowrap;
        justify-content: start;
        gap: 16px;
      }

      .group {
        position: relative;
        height: 46px;
        margin-right: 30px;
        @media (max-width: 768px) {
          margin-right: 20px;
        }

        @media (max-width: 512px) {
          margin-right: 16px;
          height: 30px;
        }
      }

      .div-2 {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        position: relative;
        font-family: Pretendard, sans-serif;
        font-weight: 500;
        color: #b0b0b0;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;

        @media (max-width: 512px) {
          color: #545454;

          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .text-wrapper {
        margin-top: -1px;
        position: relative;
        font-weight: 700;
      }

      .div-3 {
        position: relative;

        * {
          display: inline-block;
          margin-right: 20px;
        }
      }

      .p {
        position: relative;
        width: fit-content;
        font-family: Pretendard, sans-serif;
        font-weight: 500;
        color: #b0b0b0;
        font-size: 12px;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;

        @media (max-width: 512px) {
          color: rgb(163, 163, 163, 0.4);
          font-size: 12px;
          font-weight: 400;
        }
      }

      .img {
        position: relative;
      }
    }
  }

  .sns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: start;
    gap: 16px;
    min-width: 6em;
  }
}

.slide {
  &-left, &-right, &-stop, &__handle, &__left, &__right {
    cursor: pointer;
  }

  &__ul {
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    li {
      display: inline-block;
      scroll-snap-align: center;
    }
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    position: relative;
    bottom: -100px;
  }
  80% {
    opacity: 1;
  }
  100% {
    position: relative;
    bottom: 0;
    opacity: 1;
  }
}


.animation {
  &.fade-in {
    opacity: 0;
  }

  &.fade-up {
    opacity: 0;
  }

  &.on {
    &.fade-in {
      animation: fade-in 1.5s ease-out forwards;
    }

    &.fade-up {
      animation: fade-up 1s ease-out forwards;
    }
  }
}

@keyframes move-arrow {
  0% {
    opacity: 1;
    bottom: -1rem;
  }
  100% {
    opacity: 0;
    bottom: 2rem;
  }
}

.arrow-blink {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  img {
    animation: move-arrow 0.8s ease-in-out infinite backwards;
  }
}

.square {
  width: 100%;
  position: relative;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.shift {
  position: relative;

  .shift__item {
    position: absolute;
    z-index: -1;
    top: 0;

    &.active {
      position: relative;
      z-index: 0;
      top: 0;
    }
  }

  &--slide {
    .shift__item {
      display: block;
      top: 0;
      z-index: 0;
      transition-duration: .6s;
      transition-timing-function: ease-out;
      opacity: 0;

      &.prev {
        transform: translateX(-100%);
        right: auto;
      }

      &.next {
        transform: translateX(100%);
      }

      &.active {
        opacity: 1;
        position: relative;
        z-index: 0;

        &.prev {
          transform: none;
        }

        &.next {
          transform: none;
        }
      }
    }
  }

  .notification {
    background-color: white;
    padding: 1em 2em;
  }
}
