@import 'base';

.main-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 64px;

  width: 100%;
  height: 140px;

  @media (max-width: 768px) {
    height: 120px;
    margin-bottom: 50px;
  }

  @media (max-width: 512px) {
    height: 80px;
    margin-bottom: 30px;
  }

  * {
    height: 100%;
  }

  &__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    color: black;
    padding: 1em 20px;

    @media (max-width: 768px) {
      padding: 1em 16px;
    }

    @media (max-width: 512px) {
      padding: 1em 0;
    }

    h1 {
      font-family: NanumSquare Neo, sans-serif;
      font-size: 50px;
      font-weight: 400;
      letter-spacing: -1.5px;
      text-align: center;
      height: auto;

      white-space: nowrap;

      strong, b {
        font-weight: 600;
      }

      @media (max-width: 768px) {
        font-size: 34px;
      }

      @media (max-width: 512px) {
        font-size: 16px;
      }
    }

    h2 {
      display: inline-block;

      font-family: Pretendard, sans-serif;
      font-size: 30px;
      font-weight: 300;
      line-height: normal;
      letter-spacing: -0.9px;

      text-align: center;
      height: auto;

      white-space: nowrap;

      @media (max-width: 768px) {
        font-size: 26px;
      }

      @media (max-width: 512px) {
        font-size: 14px;
      }
    }
  }
}

@import 'main/hero';
@import 'main/roadmap';
@import 'main/consulting';
