
.sec{
    padding-top:14rem;
    padding-bottom:16.5rem;
}
.sec .sec-list01{
    overflow: hidden;
    display: flex;
    flex-wrap:wrap;
}
.sec .sec-list01 li{
    position:relative;
    margin:0 3.3rem;
    width:27rem;
    margin-bottom:7rem;
}

.sec .sec-list01 li .btn-wrap{

    position:absolute;
    bottom:13rem;
    left:50%;
    transform: translate(-50%,0);
    z-index: 100;

    display: flex;
}

.sec .sec-list01 li .btn-wrap button{
    display: none;
    margin:0 0.3rem;
    width:16rem;
    height:4rem;
    background-color: #f6f6f680;
    border-radius: 0.5rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color:var(--black);
    
}

.sec .sec-list01 li:hover .btn-wrap button,
.sec .sec-list01 li:focus .btn-wrap button,
.sec .sec-list01 li:active .btn-wrap button{
    display: block;
}

.sec .sec-list01 li:hover a,
.sec .sec-list01 li:focus a,
.sec .sec-list01 li:active a{

    margin-left:1.5rem;
    margin-top:1.5rem;
    margin-bottom:3.9rem;

    width:24rem;
    height:49rem;
    overflow: hidden;
    transition: all 0.3s;
}
.sec .sec-list01 li:hover img,
.sec .sec-list01 li:focus img,
.sec .sec-list01 li:active img{

    filter: blur(3px);
}


.sec .sec-list01 li:hover span,
.sec .sec-list01 li:focus span,
.sec .sec-list01 li:active span{
    margin-top:4rem;
}

.sec .sec-list01 li .text{
    position:absolute;
    top:3.6rem;
    left:1.8rem;
    z-index: 100;
}
.sec .sec-list01 li .text > span{
    font-size: 1.6rem;
    color:white;
}
.sec .sec-list01 li .text > p{
    margin-top:0.8rem;

    font-family: 'Pretendard', sans-serif; font-weight:700;
    font-size: 2.4rem;
    color:white;
}

.sec .sec-list01 li img{
    width:27rem;
    height:52rem;

}
.sec .sec-list01 li a{
    display: block;

}
.sec .sec-list01 li > span{
    display: block;
    margin-top:2rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color:var(--maincolor);
}
.sec .sec-list01 li > p{
    margin-top:0.8rem;

    font-size: 2.4rem;
    color:var(--black);
}



@media screen and (max-width:1360px){ 
                  
    .sec .sec-list01{
        display: flex;
        justify-content: flex-start;
        flex-wrap:wrap;
    }
    .sec .sec-list01 li{
        position:relative;
        margin:0 1rem;
        width:23%;
        margin-bottom:7rem;
    }
    .sec .sec-list01 li img{
        width:100%;
        height:auto;
    }
}
@media screen and (max-width:1300px){ 
    .sec .sec-list01{
        justify-content: center;
    }       
    .sec .sec-list01 li{
        margin:0 1rem;
        margin-bottom:3rem;
        width:20%;
    }
    .sec .sec-list01 li img{
        height:auto;
    }
}
        

@media screen and (max-width:1360px){ 
                
    .sec.guide{
        width:100%;
    }
    .sec .sec-list01{
        width:90vw;
        margin:0 auto;
        justify-content: center;
        flex-wrap: wrap;
    }
    .sec .sec-list01 li{
        margin:0 1rem;
        width:23%;
        margin-bottom:7rem;
    }
    .sec .sec-list01 li img{
        width:100%;
    }
}

@media screen and (max-width:1020px){ 
             
    .sec .sec-list01 li{
        width:31%;
    }
        
    .sec .sec-list01 li .btn-wrap button{
        margin-bottom:3rem;
    }
    .sec .sec-list01 li:hover a,
    .sec .sec-list01 li:focus a,
    .sec .sec-list01 li:active a{
    
        margin-left:1rem;
        margin-top:1rem;
        margin-bottom:3rem;
    
        width:90%;
        height:fit-content;
        overflow: hidden;
        transition: all 0.3s;
    }
}

@media screen and (max-width:713px){ 
             
    .sec .sec-list01 li{
        width:28%;
    }
}
@media screen and (max-width:600px){ 
             
    .sec .sec-list01 li{
        width:42%;
    }
    .sec .sec-list01 li .btn-wrap button{
        margin-bottom:0rem;
    }
}
@media screen and (max-width:1250px){ 
}

@media screen and (max-width:1195px){ 
}
        
@media screen and (max-width:1160px){ 
}
        
        
@media screen and (max-width:720px){ 
}
        
        
@media screen and (max-width:415px){ 
        
        
    .sec .sec-list01{
        padding-top:6rem;
        padding-bottom:6rem;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
    .sec .sec-list01 li{
        margin:0;
        width:48%;
        margin-bottom:3rem;
    }
    .sec .sec-list01 li .text > span{
        font-family: 'Pretendard', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
    }
    .sec .sec-list01 li .text > p{
        margin-top:0.4rem;
    
        font-size: 1.6rem;
    }
    
    .sec .sec-list01 li img{
        width:100%;
        height:auto;
    }

    .sec .sec-list01 li{

        pointer-events: none;
    }
    .sec .sec-list01 li > span{
        margin-top:1rem;
    
        font-size: 1.4rem;
    }
    .sec .sec-list01 li > p{
        margin-top:0.45rem;
    
        font-size: 1.6rem;
    }
    
}
