@import 'base';
@import 'layout';

@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/nanumsquare-neo');

.portfolio {
  .hero {
    background-image: url("/static/images/portfolio/hero-bg.png");
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;

    padding: $gnb-height 1em 0;
    @media (max-width: 768px) {
      padding-top: $gnb-height-t;
    }

    @media (max-width: 512px) {
      padding-top: $gnb-height-m;
    }

    .container {
      padding: 94px 1em;
      @media (max-width: 768px) {
        padding: 54px 1em;
      }

      @media (max-width: 512px) {
        padding: 52px 1em;
      }

      h1 {
        color: #FFF;
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.8px;
        margin-bottom: 32px;
        @media (max-width: 768px) {
          color: #FFF;
          font-size: 50px;
          font-style: normal;
          font-weight: 600;
          line-height: 57px; /* 114% */
          letter-spacing: -1.5px;
          margin-bottom: 30px;
        }

        @media (max-width: 512px) {
          color: #FFF;
          font-size: 26px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px; /* 107.692% */
          letter-spacing: -0.78px;
          margin-bottom: 19px;
        }
      }

      h3 {
        color: rgb(222, 222, 222, 0.7);
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 153.846%;
        letter-spacing: -0.78px;
        @media (max-width: 768px) {
          font-size: 22px;
          font-style: normal;
          font-weight: 500;
          line-height: 40px; /* 181.818% */
          letter-spacing: -0.66px;
        }

        @media (max-width: 512px) {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.56px;
        }
      }
    }
  }

  @import 'portfolio/list';
  @import 'portfolio/detail';
}
