
.sec{
    padding-top:11.8rem;
    padding-bottom:12.3rem;
}
.sec .top{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sec .top .title h3{
    font-size: 4.2rem;
    color:var(--black);
}

.sec .top .title h5{
    margin-top:4rem;

    font-size: 4.2rem;
    font-weight: lighter;
    color:var(--black);
    line-height: 5.4rem;
    overflow: hidden;
}

.sec .top .title p{
    margin-top:3.8rem;

    font-family: 'Pretendard-Regular';
    font-size: 1.8rem;
    color:var(--black);
    line-height: 2.6rem;
}
.sec .top .table-wrap .line{
    margin-bottom:2.8rem;

    content: "";
    display: block;
    width:3rem;
    height:0.6rem;
    background-color:var(--maincolor);
}
.sec .top .table-wrap .table{
    margin-right:16rem;
}
.sec .top .table-wrap .table tr{
    display: block;
    margin:1rem 0;
}

.sec .top .table-wrap .table td{
    font-family: 'Pretendard-Regular';
    font-size: 1.8rem;
    color:var(--black);
}

.sec .top .table-wrap .table .info{
    width:4.3rem;
    margin-right:2.6rem;
}

.sec .bottom{
    margin-top:13.8rem;
}

.sec .bottom .form-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec .bottom .form p{
    margin-bottom:8rem;
}
.sec .bottom .form p strong{
    display: block;
    margin-bottom:3.2rem;
    
    font-family: 'Pretendard-bold';
    font-size: 2.4rem;
    color:var(--black);
}
.sec .bottom .form p{
    position: relative;
}
.sec .bottom .form p label::after{
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width:0;
    height:0.1rem;
    background-color: var(--maincolor);

    transition: all 0.4s ease-in;
}
.sec .bottom .form p input:focus + label::after,
.sec .bottom .form p input:active + label::after{
    width:100%;
}
.sec .bottom .form p input:focus,
.sec .bottom .form p input:active{
    outline: none;
}
.sec .bottom .form p input{
    padding:1rem 0;
    width:59.1rem;
    border: 0;
    border-bottom: 0.1rem solid #d6dae1;
}

.sec .bottom .form p input::placeholder{
    font-size: 1.8rem;
    color:#d6dae1;
}
.sec .bottom .form p .contents{
    width:128rem;
    padding-bottom:36rem;
}

input:focus,
input:active{
    outline:none;
}

.sec .bottom .form .submit-wrap{
    width:100vw;
    text-align: center;
}

.sec .bottom .form .submit{
    width: fit-content;
    padding:3rem 11rem;
    background-color: var(--maincolor);
    border: none;

    font-family: 'Pretendard-bold';
    font-size: 2.4rem;
    color:white;
    cursor: pointer;
}
.sec .bottom .form .submit:hover{
    background-color: var(--maincolorHover);
}


@media screen and (max-width:1280px){
    .sec .top{
        margin-left:3rem;
    }
    .sec .bottom{
        margin-left:3rem;
    }
    .sec .bottom .form-wrap{
        flex-direction: column;
    }
    .sec .bottom .form p:nth-child(1){
        width:70vw;
    }
    .sec .bottom .form p:nth-child(2){
        width:70vw;
    }
    .sec .bottom .form p:nth-child(3){
        width:90vw;
    }
}
@media screen and (max-width:1180px){
    .sec .top{
        width:fit-content;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .sec .top .table-wrap{
        margin-top:10rem;
    }
}
@media screen and (max-width:415px){ 
            
    .sec .top{
        padding-top:6rem;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-left:0;
    }
    
    .sec .top .title h3{
        font-size: 3rem;
    }

    .sec .top .title h5{
        margin-top:2.3rem;

        font-size: 2.4rem;
        line-height: 2.9rem;
    }

    .sec .top .title p{
        margin-top:2rem;

        font-size: 1.6rem;
        line-height: 2rem;
    }
    .sec .top .table-wrap{
        margin-top:0;
    }
    .sec .top .table-wrap .table{
        margin-right:0;
    }
    .sec .top .table-wrap .line{
        margin-top:4rem;
        margin-bottom:4.4rem;
    }
    .sec .top .table-wrap .table td{
        display: block;
        font-size: 1.6rem;
    }
    .sec .top .table-wrap .table .info{
        margin-bottom:1rem;
        font-weight: bolder;
    }

    .sec .bottom{
        margin-top:9rem;
        margin-bottom:6rem;
        margin-left:0;
    }
    .sec .bottom .form p{
        margin-bottom:2.2rem;
    }
    .sec .bottom .form p strong{
        margin-bottom:1rem;
        
        font-size: 1.8rem;
    }
    .sec .bottom .form p input::placeholder{
        font-size: 1.6rem;
    }
    .sec .bottom .form p .contents{
        width:128rem;
        padding-bottom:33rem;
    }
    .sec .bottom .form .submit{
        padding:1.7rem 7rem;
        font-size: 1.8rem;
    }
}