.sec {
  .bottom {
    form {
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      max-width: 768px;
      gap: 4em;
      padding: 3em 0;

      fieldset {
        display: flex;
        flex-flow: column nowrap;
        gap: 3em;
        padding: 0 1em;

        label {
          padding: 0 0.5em;

          span {
            font-family: 'Pretendard', sans-serif;
            font-weight: 700;
            font-size: 1.8rem;
            color: var(--primary);
          }

          input {
            &[type=text], &[type=password], &[type=email] {
              width: 100%;
              height: 6rem;
              border-radius: 2rem;
              padding: 0 2rem;
              margin: 0.3rem;
              font-family: 'Pretendard', sans-serif;
              font-weight: 400;
              font-size: 1.6rem;
              color: #767676;
              border: none;
              background-color: #fafafa;
            }
          }
        }
        &.button {padding: 0 1.5em;}
        button {
          font-size: 2.5em;
        }
      }
    }
  }
}
