@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
    font-size: 10px;
}

body {
    font-size: 1rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


.guide {
    width: 128rem;
    margin: 0 auto;
}

.guide-right-padding {
    width: 134rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.hide {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}

button {
    position: relative;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--primary);
}
.detailsBtn > a{
    z-index: 100 !important;
}


button::before {
    content: "";
    display: inline-block;
    z-index: 1;
    opacity: .1;
    position: absolute;
    top: 0;
    left: -57px;
    width: 40px;
    height: 100%;
    background-color: #fff;
    transform: skew(-30deg);
    transition: all .8s;
}
button>a{
    z-index: 20 !important;
}

header.type-m button:hover::before {
    left: 400px;
}

button > a {
    display: block;
    width: fit-content;
    padding: 1.8rem 2.8rem;
    font-size: 1.8rem;
    color: white;
}

.type-m {
    display: none;
}

img.type-m {
    display: none;
}

span.type-m {
    display: none !important;
}

ul.type-m {
    display: none !important;
}


header {
    width: 100%;
    background-color: white;
    z-index: 1000;
    transition: all 0.3s;
}

header.on {
    position: fixed;
    top: 0;
    left: 0;
}

header.type-pc .header-inner {
    min-width: 702px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66.66666666666667%;
    margin: 0 auto;
}

header .main-logo img {
    display: block;
    width: 8rem;
}

header.type-pc .nav .gnb {
    display: flex;
}

header.type-pc .nav .gnb li {
    margin: 0 2rem;
}

header.type-pc .nav .gnb li a {
    font-size: 1.6rem;
    height: 7rem;
    line-height: 7rem;
}

header .freeBtn > a {
    padding: 1rem 2.8rem;
}

header.type-m .nav {

    padding: 9rem 6rem;
    position: fixed;
    top: 0;
    left: -100rem;
    opacity: 0;

    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 200;
}

header.type-m .nav .gnb li {
    margin-bottom: 4rem;
}

header.type-m .nav .gnb li a {
    font-size: 2rem;
    color: var(--black);
}

header.type-m .nav .bottom {
    padding: 0 1rem;
    padding-top: 10rem;
}

header.type-m .nav .bottom .sns-list {
    display: flex;
}

header.type-m .nav .bottom .sns-list li:nth-child(2) {
    margin: 0 1rem;
}

header.type-m .nav .bottom .sns-list li a img {
    display: block;
    width: 3rem;
    height: 3rem;
}

header.type-m .nav .bottom .freeBtn {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    box-shadow: 5px 5px 12px -5px #0f296b60;
}

header.type-m .nav .bottom .freeBtn a {
    width: 100%;
}

header.type-m .header-inner {
    margin: 1.5rem 2rem;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

header.type-m .main-logo img {
    display: block;
    width: 6rem;
}

.header-inner .nav-btn {
    position: absolute;
    top: 0;
    left: 0;
}

.nav-btn .h-btn {
    margin-top: 0.5rem;

    position: relative;
    width: 2.4rem;
    height: 1.6rem;
    z-index: 700;
    overflow: hidden;

    cursor: pointer;
}

.nav-btn .h-btn.on {
    width: 2.4rem;
    height: 2rem;
}

.nav-btn .h-btn span {
    position: absolute;

    left: 0;
    display: block;
    width: 100%;
    height: 0.2rem;
    border-radius: 0.2rem;
    background-color: var(--black);

    transition: all 0.7s;
}

.nav-btn .h-btn #h-top {
    top: 0;
}

.nav-btn .h-btn.on #h-top {
    transform: rotate(-315deg) translate(0.8rem, 0.5rem);
}

.nav-btn .h-btn #h-middle {
    top: 50%;
    transform: translate(0, -50%);
}

.nav-btn .h-btn.on #h-middle {
    display: none;
}

.nav-btn .h-btn #h-bottom {
    bottom: 0;
}

.nav-btn .h-btn.on #h-bottom {
    transform: rotate(315deg) translate(0.8rem, -0.5rem);
}

.main-slider-sec .main-slider li {
    width: 66.66666666666667%;
    height: 60rem;
}

.main-slider-sec .main-slider .slick-current li {
    width: 57.29166666666667%;
}

.main-slider-sec {
    position: relative;
}

.main-slider-sec .controller {
    height: 4.3rem;
    position: absolute;
    bottom: 5rem;
    right: 29%;

    z-index: 100;

    display: flex;
    align-items: center;
}

.main-slider-sec .controller .playBtn {
    margin-right: 1rem;

    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;

    cursor: pointer;
}

.main-slider-sec .controller .main_slider__label {
    display: inline-block;
    color: white;
    width: fit-content;
    padding: 1rem 2.8rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
    font-size: 1.6rem;
}

.main-slider-sec .main-slider {
    position: relative;
}

.main-slider-sec .main-slider .slick-arrow {
    width: 2.2rem;
    height: 4.6rem;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-indent: -9999px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center;
}

.main-slider-sec .main-slider .slick-arrow::before {
    display: none;
}

.main-slider-sec .main-slider .slick-prev {
    left: 20%;
    background-image: url(../images/main_arrow_left.png);
}

.main-slider-sec .main-slider .slick-next {
    right: 22.3%;
    background-image: url(../images/main_arrow_right.png);
}

.main-slider-sec .main-slider li {
    position: relative;
}

.main-slider-sec .main-slider li > img {
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(50%);
}

.main-slider-sec .main-slider .slick-current > img {
    filter: brightness(100%);
}

.main-slider-sec .main-slider li .text {
    position: absolute;

    margin-top: 13.9rem;
    margin-left: 11rem;
    z-index: 100;
}

.main-slider-sec .main-slider li .text h2 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 200;
    font-size: 5rem;
    color: white;
}

.main-slider-sec .main-slider li .text h2 strong {
    font-size: 5rem;
    color: white;
}

.main-slider-sec .main-slider li .text p {
    margin-top: 5rem;
    margin-bottom: 6.4rem;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: white;
}

.main-slider-sec .main-slider li .text .detailsBtn {
    background-color: var(--primary);
}

.main-slider-sec .main-slider li .text .detailsBtn a {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
}


.pg1-sec {
    padding-top: 4.2rem;
    padding-bottom: 16.5rem;
    background-color: #f1f1f1;
}

.pg1-sec .top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5rem;
}

.pg1-sec .top .title {
    display: flex;
    align-items: center;
}

.pg1-sec .top .title .text {
    margin-left: 2rem;
}

.pg1-sec .top .title .text h3 {
    font-weight: lighter;
    font-size: 3.6rem;
    margin-bottom: 2.6rem;
}

.pg1-sec .top .title .text P {
    font-size: 2.4rem;
}

.pg1-sec .top .pg1-list01 {
    width: 95rem;
    min-width: 92rem;
    height: 15.3rem;
    border-radius: 3rem;
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1.7rem 1.7rem 2rem -0.5rem #0f296b20;
}

.pg1-sec .top .pg1-list01 li {
    width: 22rem;
    height: 11.1rem;
    padding: 2.6rem 0;
    border-radius: 2rem;
    cursor: pointer;
}

.pg1-sec .top .pg1-list01 li:hover {
    background-color: #03b150;
}

.pg1-sec .top .pg1-list01 li.on {
    background-color: #f7f7f7;
}

.pg1-sec .top .pg1-list01 li.on p {
    color: black;
}

.pg1-sec .top .pg1-list01 li.on span {
    color: #797979;
}


.pg1-sec .top .pg1-list01 li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg1-sec .top .pg1-list01 li a p {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: white;
    margin-bottom: 1rem;
}

.pg1-sec .top .pg1-list01 li a span {
    font-size: 1.6rem;
    display: block;
    color: white;
}

.pg1-sec .top .pg1-list01 li img {
    display: none;
    position: absolute;

    bottom: 10%;
    animation: move-arrow 0.8s ease-in-out infinite backwards;
}

.pg1-sec .top .pg1-list01 li:nth-child(1) img {
    left: 37%;
}

.pg1-sec .top .pg1-list01 li:nth-child(2) img {
    left: 54%;
}

.pg1-sec .top .pg1-list01 li:nth-child(3) img {
    left: 70%;
}

.pg1-sec .top .pg1-list01 li:nth-child(4) img {
    left: 87%;
}

.pg1-sec .top .pg1-list01 li.on img {
    display: block;
}

@keyframes move-arrow {
    0% {
        opacity: 1;
        bottom: 16%;
    }
    100% {
        opacity: 0;
        bottom: 11%;
    }
}

.pg1-sec .bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg1-sec .bottom .pg1-list02 {
    opacity: 0;
    margin-top: 5rem;

    width: 100%;
    min-width: 111.6rem;
    height: 52.2rem;
    border-radius: 3rem;
    background-color: rgb(255, 255, 255);
}

.pg1-sec .bottom .pg1-list02 .slick-track {
    padding-bottom: 0;
}

.pg1-sec .bottom .pg1-list02 li {
    display: none;
}

.pg1-sec .bottom .pg1-list02 li.on {
    animation: listOn 0.5s ease-in-out;
    display: block;
}

@keyframes listOn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pg1-sec .bottom .pg1-list02 li a {
    display: flex;
}

.pg1-sec .bottom .pg1-list02 li .img-area {
    float: left;
    position: relative;
    padding: 6rem 4.8rem;
    width: 47.7rem;
    height: 52.2rem;
}

.pg1-sec .bottom .pg1-list02 li .img-area .bg {
    position: absolute;
    top: 0;
    left: 0;
}

.pg1-sec .bottom .pg1-list02 li .img-area .logo {
    position: relative;
}

.pg1-sec .bottom .pg1-list02 li .img-area .text {
    margin-top: 20rem;

    position: relative;
}

.pg1-sec .bottom .pg1-list02 li .img-area .text h3 {
    font-weight: lighter;
    font-size: 3.6rem;
    color: white;
}

.pg1-sec .bottom .pg1-list02 li .img-area .text p {
    margin-top: 1.8rem;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: white;
}


.pg1-sec .bottom .pg1-list02 li .text-area {
    float: left;
    padding: 8.2rem 6.8rem;
}


.pg1-sec .bottom .pg1-list02 li .text-area h3 {
    font-size: 3.6rem;
}

.pg1-sec .bottom .pg1-list02 li .text-area p {
    margin-top: 2.8rem;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #646464;
}

.pg1-sec .bottom .pg1-list02 li .text-area .detailsBtn {
    margin-top: 9.2rem;
    background-color: #03c75b20;
    color: var(--primary);
}

.pg1-sec .bottom .pg1-list02 li .text-area .detailsBtn .aBtn {
    width: fit-content;
    padding: 1.7rem 3.1rem;
    font-size: 1.8rem;
    color: #03b150;
}

.pg2-sec {
    opacity: 0;
    margin-top: 5rem;
}

.pg2-sec .pg2-bg {
    width: 100%;
    height: 100%;
    background-image: url(../images/pg2_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
}


.pg2-sec .top {
    position: relative;
    display: flex;
    align-items: end;

    padding-top: 7rem;
    padding-bottom: 2rem;
    overflow: hidden;
}

.pg2-sec .top .mic {
    position: absolute;
    top: 2rem;
    left: 14rem;
}

.pg2-sec .top .text {
    margin-left: 23%;
}

.pg2-sec .top .text h3 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-weight: lighter;
    font-size: 5rem;
    color: #f9f9f9;
}

.pg2-sec .top .text p {
    margin-top: 2rem;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
    color: #f9f9f9;
}

.pg2-sec .pg2-list01 {
    width: 120%;
    height: 48rem;
    margin-left: -18rem;
    display: flex;
}

.pg2-sec .pg2-list01 .slick-track {
    padding-bottom: 4rem;
}

.pg2-sec .pg2-list01 li {
    width: 42rem;
    height: 45rem;
    min-width: 42rem;
    border-radius: 3rem;
    background-color: white;
    padding: 4rem 2rem 2rem 2rem;
    margin: 0 1rem;
    margin-bottom: 3rem;

    box-shadow: 1.7rem 1.7rem 1.7rem -0.7rem #0f296b20;

}

.pg2-sec .pg2-list01 .list01-top {
    display: flex;
    flex-direction: column;
}

.pg2-sec .pg2-list01 .list01-top .profile {
    display: flex;
    justify-content: space-between;
}

.pg2-sec .pg2-list01 .list01-top .profile .info {
    display: flex;
    align-items: center;
}

.pg2-sec .pg2-list01 .list01-top .profile .info .name {
    padding-left: 2.1rem;
}

.pg2-sec .pg2-list01 .list01-top .profile .info .name .nickname {
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: #020202;
}

.pg2-sec .pg2-list01 .list01-top .profile .info .name .realname {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #020202;
}


.pg2-sec .pg2-list01 .list01-top .profile .contents {
    margin-top: 1.8rem;
    margin-right: 2.9rem;
    text-align: right;
}

.pg2-sec .pg2-list01 .list01-top .profile .contents h6 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--primary);
}

.pg2-sec .pg2-list01 .list01-top .profile .contents p {
    margin-top: 0.3rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--primary);
}

.pg2-sec .pg2-list01 .list01-top .service {
    display: flex;

    margin-top: 1.6rem;
    width: fit-content;
    padding: 1.1rem 1.3rem;
    border-radius: 1rem;
    background-color: #1fc66210;
}

.pg2-sec .pg2-list01 .list01-top .service .mark {
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 5rem;
    background-color: var(--primary);

    position: relative;
    margin-right: 0.5rem;
}

.pg2-sec .pg2-list01 .list01-top .service .mark p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fafafa;
}

.pg2-sec .pg2-list01 .list01-top .service > p {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--primary);
}


.pg2-sec .pg2-list01 .list01-bottom {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.pg2-sec .pg2-list01 .list01-bottom .title {
    padding-left: 0.8rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #020202;
}

.pg2-sec .pg2-list01 .list01-bottom .review {
    margin-top: 1.7rem;

    width: 100%;
    height: 13.6rem;
    border-radius: 1rem;
    padding: 2rem 2rem;
    background-color: #f8f8f8;
}

.pg2-sec .pg2-list01 .list01-bottom .review p {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #767676;
    line-height: 2.4rem;
}

.pg2-sec .pg2-list01 .list01-bottom button {
    margin-top: 1.8rem;

    background-color: white;

    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--primary);
}


.move01 {
    opacity: 1;
    margin-top: 0;
    transition: all 0.4s;
}


.pg3-sec {
    padding-top: 7rem;
    padding-bottom: 15rem;
}

.pg3-sec .title {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #0e141e;
}

.pg3-sec .arrow {
    margin-top: 4rem;
}

.pg3-sec .arrow span {
    display: inline-block;
    width: 3.6rem;
    height: 3.6rem;
    text-indent: -9999rem;
    cursor: pointer;
}

.pg3-sec .progress {
    margin-top: 1.9rem;
    display: block;
    width: 21rem;
    height: 1rem;
    border-radius: 0.4rem;
    overflow: hidden;

    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(to right, var(--primary), var(--primary));
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size .4s ease-in-out;
}

.pg3-sec span {
    display: block;
    margin-top: 0.9rem;
    font-size: 1.8rem;
    color: #0e141e;
}

.pg3-sec .arrow #pg3-list-01-prev {
    background-image: url(../images/pg3_arrow_left.png);
    margin-right: 0.2rem;
}

.pg3-sec .arrow #pg3-list-01-next {
    background-image: url(../images/pg3_arrow_right.png);
}

.pg3-sec .pg3-list01 {
    margin-top: 4rem;

    opacity: 0;
    margin-top: 9rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.pg3-sec .pg3-list01 li {
    display: flex;
    flex-direction: column;
}

.pg3-sec .pg3-list01 li img {
    display: block;
    width: 40rem;
    height: 40rem;
    border-radius: 3rem;
    box-shadow: 1.7rem 1.7rem 2rem -0.5rem #0f296b20;
}

.pg3-sec .pg3-list01 li .text {

    width: 37.8rem;
    margin-top: 3.4rem;
}

.pg3-sec .pg3-list01 li .text span {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #4b4b4b;
}

.pg3-sec .pg3-list01 li .text h6 {
    width: 37.8rem;
    margin-top: 1.8rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #0e141e;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pg3-sec .pg3-list01 li .text p {
    margin-top: 2.6rem;

    font-size: 1.6rem;
    color: #0e141e;

    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.pg3-sec .pg3-list01 li .detailsBtn {
    width: fit-content;
    margin-top: 1.3rem;
    background-color: var(--primary);
}

.pg3-sec .pg3-list01 li .detailsBtn a {
    padding: 1.6rem 3.6rem;
    color: white;
}


.pg4-sec {
    position: relative;

    background-color: #020403;
    background-image: url(../images/pg4_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.pg4-sec .top {
    margin-top: 12rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.pg4-sec .top .left-area {
    display: flex;
    flex-direction: column;

}

.pg4-sec .top .left-area .title {
    opacity: 0;
    margin-top: -5rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: white;
}

.pg4-sec .top .left-area .bar {
    margin-top: 2rem;

    opacity: 0;
    margin-top: -5rem;

    width: 30rem;
    height: 3.7rem;
    padding: 0 1rem;
    background-image: url(../images/pg4_bar.png);
    background-size: cover;

    line-height: 3.7rem;
}

.pg4-sec .top .left-area .bar p {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #f9f9f9;
}

.pg4-sec .top .left-area .work {
    opacity: 0;
    margin-left: -10rem;

    margin-top: 13rem;

    display: flex;
    align-items: center;
}

.pg4-sec .top .left-area .work div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg4-sec .top .left-area .work div h5 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 7rem;
    color: white;
}

.pg4-sec .top .left-area .work div p {
    font-size: 1.6rem;
    color: #f9f9f9;
}

.pg4-sec .top .left-area .work .line {
    display: block;
    width: 0.1rem;
    height: 6rem;
    background-color: #f9f9f9;

    margin: 0 3rem;
}

.pg4-sec .top .left-area .work .ing .count {
    color: white;
}

.pg4-sec .top .left-area .detailsBtn {
    width: fit-content;
    margin-top: 4.5rem;
    background-color: #f0f0f0;
    overflow: hidden;
}

.pg4-sec .top .left-area .detailsBtn a {
    padding: 1.8rem 4rem;
}

.pg4-sec .top .left-area .detailsBtn::before {
    background-color: #28b668;
}

.pg4-sec .top .left-area .detailsBtn > a {
    color: var(--primary);
}

.pg4-sec .top .left-area .arrow {
    margin-top: 17.2rem;
}

.pg4-sec .top .left-area .arrow span {
    display: inline-block;
    width: 6rem;
    height: 3.2rem;

    cursor: pointer;

    transition: all 0.2s;
}

.pg4-sec .top .left-area .arrow .prev {
    background-image: url(../images/pg4_arrow_left.png);
    margin-right: 3rem;
}

.pg4-sec .top .left-area .arrow .next {
    background-image: url(../images/pg4_arrow_right.png);
}

.pg4-sec .top .left-area .arrow .prev:hover,
.pg4-sec .top .left-area .arrow .prev:focus,
.pg4-sec .top .left-area .arrow .prev:active {
    background-image: url(../images/pg4_arrow_left_hover.png);
}

.pg4-sec .top .left-area .arrow .next:hover,
.pg4-sec .top .left-area .arrow .next:focus,
.pg4-sec .top .left-area .arrow .nextg:active {
    background-image: url(../images/pg4_arrow_right_hover.png);
}

.pg4-sec .top .right-area {
    margin-top: 3rem;
    position: relative;
    width: 31.7rem;
    height: 31.7rem;
    overflow: hidden;
}

.pg4-sec .top .right-area .circle {

    animation: rotate_image 10s linear infinite;
    transform-origin: 50% 50%;
    width: 31.7rem;
    height: 31.7rem;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.pg4-sec .top .right-area .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.pg4-sec .bottom {
    padding-top: 4.4rem;
    padding-bottom: 4rem;
}

.pg4-sec .banner-zone {
    position: absolute;
    top: 68.5rem;
    right: 0;

    height: 8rem;
    width: 132rem;
    overflow: hidden;

}

.pg4-sec .pg4-list01 {
    display: flex;
    width: 220%;
    overflow: hidden;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}

.pg4-sec .banner-zone .pg4-list01 li {
    width: fit-content;
}

.pg4-sec .banner-zone .pg4-list01 li img {
    margin: 0 2rem;
    z-index: 100;
}


@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.pg4-sec .bottom .pg4-list02 {
    opacity: 0;
    margin-top: -3rem;

    display: flex;
}

.pg4-sec .bottom .pg4-list02 li {
    margin: 0 0.8rem;
}

.pg4-sec .bottom .pg4-list02 li a {
}

.pg4-sec .bottom .pg4-list02 li a .interview-wrap {
    position: relative;
    overflow: hidden;
}

.pg4-sec .bottom .pg4-list02 li a .logo {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 20;
}

.pg4-sec .bottom .pg4-list02 li a p {
    position: absolute;
    bottom: 2.5rem;
    left: 3rem;
    z-index: 20;

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: white;
    transition: all 0.3s;
}

.pg4-sec .bottom .pg4-list02 li:hover a p {
    bottom: 12.5rem;
}

.pg4-sec .bottom .pg4-list02 li a .interview {
    display: block;
    width: 100%;
    height: 100%;
}

.pg4-sec .bottom .pg4-list02 li a img {
    transform: scale(1, 1);
    transition: all 1s;
}

.pg4-sec .bottom .pg4-list02 li:hover a img {
    transform: scale(1.2, 1.2);
}

.pg5-sec {
    padding-top: 13rem;
    padding-bottom: 11.8rem;
    background-color: #f7f7f7;
}

.pg5-sec .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg5-sec .title .top {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.pg5-sec .title .top span {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #a2a2a2;
}

.pg5-sec .title .top h3 {
    margin-top: 0.4rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #0e141e;
}

.pg5-sec .title p {
    margin-top: 1.6rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #0e141e;
}

.pg5-sec .list-wrap {
    width: 132rem;
    margin: 0 auto;
}

.pg5-sec .pg5-list01 {
    left: 1rem;
    width: 128rem;
    margin-top: 4rem;
}

.pg5-sec .pg5-list02 {
    margin-top:1rem;
    width: 128rem;
}

.pg6-sec {
    padding-top: 13rem;
    padding-bottom: 17rem;
}

.pg6-sec .title {
    text-align: center;
}

.pg6-sec .title h3 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #0e141e;
}

.pg6-sec .title p {
    margin-top: 3.2rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #4b4b4b;
    line-height: 2.8rem;
}

.pg6-sec .pg6-list01 {
    margin-top: 8rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pg6-sec .pg6-list01 > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg6-sec .pg6-list01 .profile-top {
    position: relative;
}

.pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 3.2rem 2rem;
    background-color: #03c75a50;
}

.pg6-sec .pg6-list01 > li:hover .pg6-list01-dep2,
.pg6-sec .pg6-list01 > li:focus .pg6-list01-dep2,
.pg6-sec .pg6-list01 > li:active .pg6-list01-dep2 {
    display: block;
}

.pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .name {
    display: flex;
    align-items: center;
}

.pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .name p {
    margin-right: 2rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 0.8);
}

.pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .name span {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
}

.pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .line {
    margin-top: 4.8rem;
    margin-bottom: 3.6rem;

    display: block;
    width: 100%;
    height: 0.1rem;
    background-color: white;
}

.pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .pg6-list01-dep3 {
    display: flex;
    flex-direction: column;
}

.pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .pg6-list01-dep3 li {
    padding: 0.5rem 0;
}

.pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .pg6-list01-dep3 li p {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
}

.pg6-sec .pg6-list01 .profile-bottom {
    margin-top: 3.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pg6-sec .pg6-list01 .profile-bottom span {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: #03c75a;
}

.pg6-sec .pg6-list01 .profile-bottom h5 {
    margin-top: 2.4rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    color: #0e141e;
}

.pg6-sec .pg6-list01 .profile-bottom p {
    margin-top: 1.6rem;

    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #0e141ed2;
}

.pg6-sec .pg6-list01 .profile-bottom .role {
    margin-top: 2.2rem;

    width: fit-content;
    padding: 1.6rem;
    border-radius: 1rem;

    background-color: #0affaf10;
    font-size: 1.6rem;
    color: var(--primary);
}


.pg7-sec {
    width: 100%;
    height: 66rem;
    background-image: url(../images/pg7_bg.png);

    padding-top: 12.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.pg7-sec h3 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: white;
}

.pg7-sec p {
    margin-top: 6.8rem;

    font-size: 2.4rem;
    color: white;
    line-height: 3.6rem;
}

.pg7-sec button {
    margin-top: 7rem;

    width: fit-content;
    padding: 1.8rem 2.8rem;
    border-radius: 1rem;
    background-color: var(--primary);

    font-size: 1.8rem;
    color: white;
}

.pg8-sec {
    padding-top: 13.2rem;
    padding-bottom: 8.4rem;
}

.pg8-sec .info {
    padding: 0 3rem;
}

.pg8-sec .info h3 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: #0e141e;
}

.pg8-sec .info .table-wrap .table {
    margin-top: 5rem;
}

.pg8-sec .info .table-wrap .table tr {
    display: block;
    margin: 1rem 0;
}

.pg8-sec .info .table-wrap .table td {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--black);
}

.pg8-sec .info .table-wrap .table .title {
    width: 6rem;
}


.pg8-sec .map-wrap {
    width: 100vw;
    margin-top: 8rem;

}

.pg8-sec .map-wrap #map {
    width: 100%;
    height: 70rem;
}

footer {
    padding: 0 25% 0 25%;
    background-color: #f6f6f6;

}

footer .footer-wrap {
    margin-top: 8rem;
    margin-bottom: 7.6rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .info-box {
    display: flex;
}

footer .info-box .logo {
    width: 6.6rem;
    height: 3.2rem;
    margin-right: 1rem;
}

footer .info-box .info {
    margin-top: 0.7rem;
}

footer .info-box .info h5 {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #0e141e;
}

footer .info-box .info p {
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #0e141e;
}

footer .info-box .info .ceo {
    margin-top: 1rem;
    display: flex;
}

footer .info-box .info .ceo .name {
    margin-right: 2rem;
}

footer .info-box .info .address {
    margin-top: 1rem;
}

footer .info-box .info .footer-list01 {
    margin-top: 3rem;
    display: flex;
}

footer .info-box .info .footer-list01 li::after {
    content: "";
    display: inline-block;
    width: 0.1rem;
    height: 1rem;
    background-color: #d6dae1;
    margin: 0 1rem;
}

footer .info-box .info .footer-list01 li:last-child::after {
    width: 0;
}

footer .info-box .info .footer-list01 li a {
    font-family: 'Pretendard', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #0e141e;
}

footer .info-box .info .copy {
    display: block;
    margin-top: 1.8rem;

    font-size: 1.3rem;
    color: var(--primary);
}

footer .sns-list {
    display: flex;
}

footer .sns-list li {
    margin: 0 0.5rem;
}


.callBtn {
    display: none;
    padding: 0.6rem 0;
    position: fixed;
    bottom: 16rem;
    right: 4rem;
    width: 5.2rem;
    height: 5.2rem;
    background-color: var(--primary);
    text-align: center;
    cursor: pointer;
}

.callBtn a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.callBtn a > span {
    color: white;
    font-size: 1.2rem;
}

.callBtn > a img {
    margin-bottom: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
}

.topBtn {
    display: none;
    padding: 1.2rem;
    position: fixed;
    bottom: 10rem;
    right: 4rem;
    width: 5.2rem;
    height: 5.2rem;
    background-color: #0e141e;
    text-align: center;
    cursor: pointer;
}

.topBtn > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}

.topBtn > a img {

    margin-bottom: 0.5rem;

    display: block;
    width: 1.2rem;
    height: 0.6rem;
}


.in-mini-contents {
    width: 70%;
    margin: 25px 0 25px 10px;
    padding: 20px 15px;
    border: 1px solid #f0f0f0;
    font-size: 14px;
}

.terms-pers-table {
    width: 70%;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid #c8c8c8;
    text-align: center;
}

.terms-pers-table td, .terms-pers-table th {
    border-right: 1px solid #c8c8c8;
    font-size: 14px;
}

.terms-pers-table th {
    padding: 5px 0;
    border-bottom: 1px solid #c8c8c8;
    background-color: #f0f0f0;
}

.terms-pers-table td {
    padding: 10px 15px;
    text-align: left;
}


@media screen and (max-width: 1740px) {

    .pg4-sec .banner-zone {
        right: -50rem;
    }
}

@media screen and (max-width: 1000px) {

    .pg4-sec .banner-zone {
        right: -80rem;
    }
}

@media screen and (max-width: 700px) {

    .pg4-sec .banner-zone {
        right: -100rem;
    }
}

@media screen and (max-width: 500px) {

    .pg4-sec .banner-zone {
        right: -110rem;
    }
}

@media screen and (max-width: 1350px) {
    .pg1-sec .top {
        width: 100vw;
    }

    .pg1-sec .top .title {
        display: none;
    }

    .pg1-sec .top {
        justify-content: center;
    }

    .pg1-sec .top .pg1-list01 li:nth-child(1) img {
        left: 20%;
    }

    .pg1-sec .top .pg1-list01 li:nth-child(2) img {
        left: 40%;
    }

    .pg1-sec .top .pg1-list01 li:nth-child(3) img {
        left: 59%;
    }

    .pg1-sec .top .pg1-list01 li:nth-child(4) img {
        left: 78%;
    }

    .pg1-sec .bottom {
        width: 100vw;
        justify-content: center;
    }

    .pg1-sec .bottom .pg1-list02 {
        width: 85%;
        min-width: 0;
        height: 52.2rem;
    }

    .pg1-sec .bottom .pg1-list02 li .img-area {
        padding: 4rem 3rem;
        width: 36rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area {
        float: left;
        padding: 4rem 3rem;
    }

    .pg4-sec .top {
        margin: 0 5rem;
        margin-top: 10rem;
    }

    .pg4-sec .top .right-area {
        position: relative;
        right: 30rem;
    }
}

@media screen and (max-width: 1320px) {

    .pg6-sec .pg6-list01 {
        width: 100%;
        padding: 0 5rem;
        justify-content: start;
    }

    .pg6-sec .pg6-list01 > li {
        width: 33%;
        margin-bottom: 7rem;
    }

    .pg6-sec .pg6-list01 .profile-top > img.type-pc {
        display: block;
        width: 30rem;
        height: fit-content;
    }

    .pg8-sec .map-wrap {

    }

    .pg8-sec .map-wrap #map {
        width: 100vw;
        height: 50rem;
    }

    footer {
        padding: 0 10% 0 10%;
        background-color: #f6f6f6;

    }

}

@media screen and (max-width: 1075px) {

    .pg1-sec {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 7rem;
    }

    .pg1-sec .top .title {
        display: flex;
    }

    .pg1-sec .top {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
    }

    .pg1-sec .top .arrow.type-m {
        transform: translate(0, -1rem);
        animation: move-arrow 0.8s ease-in-out infinite backwards;
    }

    @keyframes move-arrow {
        0% {
            opacity: 1;
            transform: translateY(1rem);
        }
        100% {
            opacity: 0;
            transform: translateY(-1rem);
        }
    }
    .pg1-sec .top .title {
        display: none;
    }

    .pg1-sec .top .title > img {
        display: block;
        width: 7rem;
        height: 13rem;
    }

    .pg1-sec .top .title .text h3 {
        margin-bottom: 1rem;
    }

    .pg1-sec .top .title .text P {
        font-size: 1.8rem;
    }

    .pg1-sec .top .pg1-list01 {
        width: 50rem;
        min-width: 50rem;
        height: 100%;

        padding: 2rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        box-shadow: 0rem 1.7rem 2rem -0.5rem #0f296b20;
    }

    .pg1-sec .top .pg1-list01 li {
        width: 48%;
        height: 8rem;
        padding: 2rem 0;
        border-radius: 2rem;
        cursor: pointer;
    }

    .pg1-sec .top .pg1-list01 li a p {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;
    }

    .pg1-sec .top .pg1-list01 li a span {
        font-size: 1.4rem;
    }

    .pg1-sec .top > .arrow.type-pc {
        display: none;
    }

    .pg1-sec .top .pg1-list01 li .arrow.type-pc {
        display: none;
    }

    .pg1-sec .top > .arrow.type-m {
        margin-top: 2rem;
        display: block;
    }

    .pg1-sec .bottom {
        margin-top: 0rem;
        width: 100vw;
        justify-content: center;
    }

    .pg1-sec .bottom .pg1-list02 {
        width: 50rem;
        min-width: 0;
        height: 100%;
    }


    .pg1-sec .bottom .pg1-list02 li .img-area {
        position: relative;
        padding: 4rem 2.4rem;
        width: 100%;
        height: 34rem;
    }

    .pg1-sec .bottom .pg1-list02 li .img-area .bg {
        display: block;
        width: 100%;
        height: 100%;
    }

    .pg1-sec .bottom .pg1-list02 li .img-area .logo {
        display: block;
        width: 10.9rem;
        height: 5.2rem
    }

    .pg1-sec .bottom .pg1-list02 li .img-area .text {
        margin-top: 8rem;
    }

    .pg1-sec .bottom .pg1-list02 li .img-area .text p {
        font-size: 1.4rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area {
        padding: 4rem 2rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area > h3 {
        font-size: 2.4rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area > p {
        margin-top: 2.8rem;
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area .detailsBtn {
        margin-top: 6rem;
        background-color: var(--primary);
    }

    .pg1-sec .bottom .pg1-list02 li .text-area .detailsBtn .aBtn {
        color: white;
        padding: 1.2rem 3.4rem;
    }

    .pg6-sec .pg6-list01 {
        width: 100%;
        padding: 0 5rem;
        justify-content: space-between;
    }

    .pg6-sec .pg6-list01 > li {
        width: 50%;
    }

    .pg6-sec .pg6-list01 .profile-top > img.type-pc {
        display: block;
        width: 36vw;
        height: fit-content;
    }
}

@media screen and (max-width: 630px) {

    .pg6-sec .pg6-list01 {
        padding: 0 2rem;
    }

    .pg6-sec .pg6-list01 .profile-top > img.type-pc {
        width: 42vw;
    }

    .pg7-sec h3 {
        font-size: 4rem;
    }

    .pg7-sec p {
        font-size: 2rem;
    }

    footer {
        padding: 0 2% 0 2%;
        background-color: #f6f6f6;

    }
}

@media screen and (max-width: 1280px) {
    .main-slider-sec .main-slider .slick-prev {
        left: 2rem;
    }

    .main-slider-sec .main-slider .slick-next {
        right: 2rem;
    }

    .main-slider-sec .controller {
        height: 4rem;
        right: 5rem;
    }
}

@media screen and (max-width: 870px) {
    .header.type-pc {
        display: none !important;
    }

    .header.type-m {
        display: block !important;
    }
}

@media screen and (max-width: 700px) {
    .pg2-sec .top .text {
        margin-left: 5%;
    }

    .pg2-sec .pg2-list01 {
        margin-left: 0;
    }

}

@media screen and (max-width: 770px) {
    .pg4-sec .bottom .pg4-list02 li:nth-child(1) {
        margin-left: 12rem;
    }

    .pg4-sec .pg4-list02 {
        height: 40rem;
    }
}

@media screen and (max-width: 700px) {
    .pg2-sec .top .text {
        margin-left: 20%;
    }

    .pg2-sec .pg2-list01 {
        margin-left: 0;
    }

}

@media screen and (max-width: 700px) {

    .pg2-sec .top .mic {
        display: none;
    }

    .pg2-sec .top .text {
        margin-left: 7%;
    }
}

@media screen and (max-width: 500px) {
    .pg4-sec .pg4-list02 {
        height: 30rem;
    }
}


@media screen and (max-width: 415px) {

    .guide {
        padding: 0 2rem;
        margin: 0 auto;
    }

    .guide-only-m {
        padding: 0 2rem;
        margin: 0 auto;
    }

    .guide-right-padding {
        margin: 0 auto;
        padding: 0 2rem;
    }

    .type-pc {
        display: none;
    }

    img.type-pc {
        display: none !important;
    }

    span.type-pc {
        display: none !important;
    }

    p.type-pc {
        display: none !important;
    }

    ul.type-pc {
        display: none !important;
    }

    .type-m {
        display: block;
    }

    img.type-m {
        display: block;
    }

    span.type-m {
        display: block !important;
    }

    p.type-m {
        display: block !important;
    }

    ul.type-m {
        display: block !important;
    }

    .guide {
        width: 100%;
        padding: 0 2rem;
        margin: 0 auto;
    }

    .guide-right-padding {
        width: 100%;
        padding: 0 2rem;
        margin: 0 auto;
    }

    #introModal .modal-content {
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 32rem;
        height: fit-content;
        border-radius: 1rem;
        background-color: #f3f5f9;
    }

    #introModal .modal-content .title {
        width: 100%;
        height: fit-content;
        text-align: center;
        line-height: 2.8rem;
        padding: 2.5rem 0;

    }

    #introModal .modal-content .intro-list01 {
        width: 20rem;
        padding: 3.5rem 0rem;
        margin: 0 auto;
    }

    #introModal .modal-content .intro-list01 li {
        position: relative;

        width: 20rem;
        height: 25rem;
        padding: 2rem 1.5rem;
        border-radius: 1rem;
        background-position: center center;

        box-shadow: 0 2rem 0.7rem -0.2rem rgba(0, 0, 0, 0.2);
    }


    #introModal .modal-content .intro-list01 li a > img {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 20rem;
        height: 25rem;

        z-index: -1;
    }

    #introModal .modal-content .intro-list01 li a {
        color: white;
    }

    #introModal .modal-content .intro-list01 li:last-child a {
        color: var(--primary);
    }

    #introModal .modal-content .intro-list01 li h5 {
        font-size: 2.4rem;
    }

    #introModal .modal-content .intro-list01 li p {
        margin-top: 1rem;

        font-family: 'Pretendard', sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    #introModal .modal-content .intro-list01 li p > strong {
        position: relative;
        font-weight: lighter;
        padding-bottom: 0.2rem;
    }

    #introModal .modal-content .intro-list01 li p > strong::after {
        position: absolute;
        left: 0;
        bottom: 0;

        content: "";
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: white;
    }

    #introModal .modal-content .intro-list01 .slick-dots {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        margin-top: 2.2rem;
    }

    #introModal .modal-content .intro-list01 li h6 {
        margin-left: 4rem;
    }

    #introModal .modal-content .intro-list01 li h6 > strong {
        margin-top: 2rem;
    }

    #introModal .modal-content .intro-list01 li .line {
        margin-left: 4rem;
    }

    #introModal .modal-content .intro-list01 .slick-dots li {
        width: 1.6rem;
        height: 1.6rem;
        padding: 0;
        margin: 0 0.5rem;
        background-color: white;

    }

    #introModal .modal-content .intro-list01 .slick-dots .slick-active {
        background-color: var(--primary);
    }

    #introModal .modal-content .intro-list01 .slick-dots li button {
        text-indent: -9999rem;
    }

    #introModal .modal-content .close .today {
        width: 90%;
    }

    #introModal .modal-content .close p {
        color: #767676;
    }


    #freeModal {
        z-index: 1000;
    }

    #freeModal .modal-content .modal-header {
        position: fixed;

        width: 100%;
        height: 5rem;
        background-color: rgb(255, 255, 255);
        z-index: 100;
    }

    #freeModal .modal-content .modal-close {
        position: absolute;
        top: 1.7rem;
        right: 2rem;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url(../images/images_m/modal_close.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1000;
    }

    #freeModal .modal-content #freeBox01 {
        position: relative;
        top: -0.1rem;
    }

    #freeModal .modal-content #freeBox02 {
        position: relative;
        top: -0.1rem;
    }

    #freeModal .modal-content #freeBox03 {
        position: relative;
        top: -0.1rem;
    }

    #freeModal .modal-content .freeBox {
        width: 100%;
        height: fit-content;
        background-color: white;
    }

    #freeModal .modal-content .freeBox .title {
        padding: 5rem 0 3.7rem 2rem;
    }

    #freeModal .modal-content .freeBox .title > p {
        margin-top: 2rem;
    }

    #freeModal .modal-content .freeBox .title > span {
        margin-top: 1rem;
    }

    #freeModal .modal-content .freeBox .bar {
        padding: 0 2rem;
    }

    #freeModal .modal-content .freeBox .contents {
        width: 100%;
        height: 100%;
        padding: 4.5rem 2rem;
    }


    #freeModal .modal-content .freeBox .contents .freeBox-list-dep2 {
        flex-direction: column;
        align-items: start;
    }

    #freeModal .modal-content .freeBox .contents .freeBox-list-dep2 > li {
        margin: 0;
        margin-bottom: 1.5rem;
    }


    #freeModal .modal-content #freeBox03 .freeBox-list01 li {
        width: 100%;
        margin-bottom: 2.6rem;
    }

    #freeModal .modal-content #freeBox03 .freeBox-list01 li select {
        font-size: 1.6rem;

        width: 98%;
        height: 5rem;
        border-radius: 1rem;

        background-size: 1.4rem 0.7rem;

    }


    .main-slider-sec .controller {
        height: 4rem;
        right: 2.5rem;
        bottom: 2rem;
    }

    .main-slider-sec .main-slider li {
        overflow: hidden;
        height: 41rem;
    }

    .main-slider-sec .main-slider .slick-arrow {
        width: 3.8rem;
        height: 3.8rem;
        background-size: contain;
    }

    .main-slider-sec .main-slider .slick-prev {
        left: 0.2rem;
    }

    .main-slider-sec .main-slider .slick-next {
        right: 0.2rem;
    }

    .main-slider-sec .main-slider li img {
        width: 100%;
    }

    .main-slider-sec .main-slider li .text {
        position: absolute;

        padding: 5.2rem 4.4rem;
        margin: 0;
    }

    .main-slider-sec .main-slider li .text > .logo {
        display: block;
        width: 9rem;
        height: 4.3rem;
    }

    .main-slider-sec .main-slider li .text h2 {
        margin-top: 2rem;

        font-size: 3.6rem;
    }

    .main-slider-sec .main-slider li .text h2 strong {
        font-size: 3.6rem;
    }

    .main-slider-sec .main-slider li .text p {
        margin-top: 2rem;
        margin-bottom: 3rem;
        font-size: 1.4rem;
        color: #fffefe;
    }

    .pg1-sec {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 7rem;
    }

    .pg1-sec .top .title {
        display: flex;
    }

    .pg1-sec .top {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
    }

    .pg1-sec .top .title {
        margin-bottom: 3rem;
    }

    .pg1-sec .top .title > img {
        display: block;
        width: 7rem;
        height: 13rem;
    }

    .pg1-sec .top .title .text h3 {
        margin-bottom: 1rem;
    }

    .pg1-sec .top .title .text P {
        font-size: 1.8rem;
    }

    .pg1-sec .top .pg1-list01 {
        width: 100%;
        min-width: 100%;
        height: 100%;

        padding: 2rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        box-shadow: 0rem 1.7rem 2rem -0.5rem #0f296b20;
    }

    .pg1-sec .top .pg1-list01 li {
        width: 48%;
        height: 8rem;
        padding: 2rem 0;
        border-radius: 2rem;
        cursor: pointer;
    }

    .pg1-sec .top .pg1-list01 li a p {
        font-size: 1.8rem;
        margin-bottom: 0.2rem;
    }

    .pg1-sec .top .pg1-list01 li a span {
        font-size: 1.4rem;
    }

    .pg1-sec .top > .arrow {
        margin-top: 2rem;
    }

    .pg1-sec .bottom .pg1-list02 {
        width: 100%;
        min-width: 100%;
        height: 100%;
        border-radius: 1rem;
        background-color: rgb(255, 255, 255);
    }


    .pg1-sec .bottom .pg1-list02 li .img-area {
        position: relative;
        padding: 4rem 2.4rem;
        width: 100%;
        height: 34rem;
    }

    .pg1-sec .bottom .pg1-list02 li .img-area .bg {
        display: block;
        width: 100%;
        height: 100%;
    }

    .pg1-sec .bottom .pg1-list02 li .img-area .logo {
        display: block;
        width: 10.9rem;
        height: 5.2rem
    }

    .pg1-sec .bottom .pg1-list02 li .img-area .text {
        margin-top: 8rem;
    }

    .pg1-sec .bottom .pg1-list02 li .img-area .text p {
        font-size: 1.4rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area {
        padding: 4rem 2rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area > h3 {
        font-size: 2.4rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area > p {
        margin-top: 2.8rem;
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    .pg1-sec .bottom .pg1-list02 li .text-area .detailsBtn {
        margin-top: 6rem;
        background-color: var(--primary);
    }

    .pg1-sec .bottom .pg1-list02 li .text-area .detailsBtn .aBtn {
        color: white;
        padding: 1.2rem 3.4rem;
    }

    .pg2-sec .pg2-bg {
        background-image: url(../images/images_m/pg2_bg.png);
        background-size: contain;
    }

    .pg2-sec .top {
        display: flex;
        justify-content: space-between;
        align-items: end;

        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .pg2-sec .top .text {
        margin-left: 10rem;
    }

    .pg2-sec .top .text h3 {
        font-size: 3rem;
    }

    .pg2-sec .top .text p {
        margin-top: 1.2rem;
        font-size: 1.8rem;
    }

    .pg2-sec .pg2-list01 {
        width: 100%;
        height: 100%;
        margin-left: 0;
        display: flex;
    }

    .pg2-sec .pg2-list01 .list01-top {
        padding-bottom: 2rem;
        border-bottom: 1px solid #d6dae1;
    }

    .pg2-sec .pg2-list01 li {
        width: 32rem;
        min-width: 32rem;
        height: 100%;
        margin: 0;
        margin-bottom: 3rem;
        box-shadow: 0 1.7rem 1rem -0.7rem #0f296b20;
    }

    .pg2-sec .pg2-list01 .list01-top .profile .info .photo > img {
        display: block;
        width: 5.7rem;
        height: 5.7rem;
    }

    .pg2-sec .pg2-list01 .list01-top .profile .info .name {
        padding-left: 2rem;
    }

    .pg2-sec .pg2-list01 .list01-top .profile .info .name .nickname {
        font-size: 1.4rem;
    }

    .pg2-sec .pg2-list01 .list01-top .service {
        margin-top: 1.5rem;
        padding: 0.8rem 1.2rem;
        border-radius: 0.5rem;
        align-items: center;
    }

    .pg2-sec .pg2-list01 .list01-top .service .mark {
        width: 3rem;
        height: 3rem;
        border-radius: 5rem;
        background-color: var(--primary);

        position: relative;
        margin-right: 0.5rem;
    }

    .pg2-sec .pg2-list01 .list01-top > .contents {
        width: 20rem;
        margin-top: 3rem;
    }

    .pg2-sec .pg2-list01 .list01-top > .contents h6 {
        font-family: 'Pretendard', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
        color: var(--primary);
    }

    .pg2-sec .pg2-list01 .list01-top > .contents p {
        margin-top: 0.3rem;

        font-family: 'Pretendard', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        color: var(--primary);
    }

    .pg2-sec .pg2-list01 .list01-bottom {
        margin-top: 1.8rem;

    }

    .pg2-sec .pg2-list01 .list01-bottom .review {
        width: 100%;
        height: 100%;
        padding: 0;
        padding-bottom: 5rem;
        background-color: rgba(255, 255, 255, 0);
    }


    .pg3-sec {
        padding-top: 0;
        padding-bottom: 5rem;
    }

    .pg3-sec .pg3-list01 li img {
        width: 100%;
        height: 40rem;
        border-radius: 3rem;
        box-shadow: 0rem 1.7rem 1.2rem -0.5rem #0f296b20;
    }

    .pg3-sec .pg3-list01 li .text {

        width: 100%;
        margin-top: 2rem;
    }

    .pg3-sec .pg3-list01 li .text p {
        margin-top: 2rem;
        -webkit-line-clamp: 2;
    }

    .pg3-sec .pg3-list01 li .detailsBtn {
        margin-top: 3rem;
    }


    .pg4-sec .top {
        margin-top: 4.5rem;
        line-height: 3.8rem;
        margin-left: 0;
        margin-right: 0;
    }

    .pg4-sec .top .left-area .title {
        font-size: 3rem;
    }

    .pg4-sec .top .right-area {
        display: none;
    }

    .pg4-sec .top .left-area .bar {
        margin-top: 2rem;

        width: 31rem;
        height: 4rem;
        background-image: url(../images/pg4_bar.png);
        background-repeat: no-repeat;
        background-size: contain;

        line-height: 4rem;
    }

    .pg4-sec .top .left-area .work {
        margin-top: 4rem;
    }

    .pg4-sec .top .left-area .work div h5 {
        overflow: hidden;
        padding-top: 3rem;
        height: 8rem;
    }


    .pg4-sec .banner-zone {
        top: 33rem;
        right: 0;
    }

    .pg4-sec .top .left-area .detailsBtn {
        width: 100%;
        margin-top: 10rem;
        background-color: #f0f0f0;
        overflow: hidden;
    }

    .pg4-sec .top .left-area .detailsBtn a {
        display: block;
        width: 100%;
        padding: 1.8rem 4rem;
        font-size: 1.8rem;
    }

    .pg4-sec .top .left-area .arrow {
        margin-top: 4rem;
    }

    .pg4-sec .bottom {
        padding-top: 0.8rem;
        padding-bottom: 0rem;
    }

    .pg4-sec .bottom .pg4-list02 {
        left: 2rem;
        height: 25rem;
    }

    .pg4-sec .bottom .pg4-list02 li:nth-child(1) {
        margin-left: 10rem;
    }

    .pg4-sec .bottom .pg4-list02 li {
        margin: 0 0.8rem;
        pointer-events: none;
    }

    .pg4-sec .bottom .pg4-list02 li a .interview {
        display: block;
        width: 28.7rem;
    }

    .pg4-sec .bottom .pg4-list02 li a .interview-wrap {
        width: 28.7rem;
    }

    .pg4-sec .bottom .pg4-list02 li a > p {
        margin-top: -10rem;
        z-index: 100;
    }

    .pg4-sec .bottom .pg4-list02 li a p {
        pointer-events: none;
    }

    .pg4-sec .bottom .pg4-list02 li a img {
        pointer-events: none;
    }

    .pg5-sec {
        padding: 4.6rem 2rem 6.8rem 2rem;
    }

    .pg5-sec .title {
        text-align: center;
    }

    .pg5-sec .title .top span {
        margin-left: 8rem;
        font-size: 1.4rem;
    }

    .pg5-sec .title .top h3 {
        margin-top: 0.4rem;

        font-size: 3rem;
        line-height: 3.8rem;
    }

    .pg5-sec .title p {
        margin-top: 2.4rem;

        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .pg5-sec .list-wrap {
        width: 100%;
        margin: 0 auto;
    }

    .pg5-sec .pg5-list01 {
        left: 1rem;
        width: 100%;
        margin-top: 4rem;
    }

    .pg5-sec .pg5-list02 {
        width: 100%;
    }

    .pg5-sec ul li a img {
        display: block;
        width: 94%;
    }

    .pg6-sec {
        padding-top: 6rem;
        padding-bottom: 10rem;
    }

    .pg6-sec .title h3 {
        font-size: 3rem;
        line-height: 3.8rem;
    }

    .pg6-sec .title p {
        margin-top: 2.9rem;

        font-size: 1.6rem;
        line-height: 2rem;
    }

    .pg6-sec .title img {
        display: block;
        width: 100%;
        margin-top: -1rem;
    }

    .pg6-sec .pg6-list01 {
        margin-top: -2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pg6-sec .pg6-list01 li {
        margin-bottom: 4rem;
    }

    .pg6-sec .pg6-list01 li:last-child {
        margin-bottom: 0;
    }

    .pg6-sec .pg6-list01 .profile-top > img {
        display: block;
        width: 100%;
        height: auto;
    }

    .pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 {
        padding: 3rem 3rem;
    }

    .pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .name span {
        font-size: 1.8rem;
    }

    .pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .line {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .pg6-list01-dep3 li {
        margin-bottom: 0.5rem;
    }

    .pg6-sec .pg6-list01 .profile-top .pg6-list01-dep2 .pg6-list01-dep3 li p {
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 0.8);
    }


    .pg6-sec .pg6-list01 .profile-bottom {
        margin-top: 2.5rem;
    }

    .pg6-sec .pg6-list01 .profile-bottom span {
        font-size: 1.6rem;
    }

    .pg6-sec .pg6-list01 .profile-bottom h5 {
        margin-top: 1rem;
    }

    .pg6-sec .pg6-list01 .profile-bottom p {
        margin-top: 1.2rem;
    }

    .pg6-sec .pg6-list01 .profile-bottom .role {
        margin-top: 2rem;

        width: fit-content;
        padding: 1.2rem 1.6rem;

        font-size: 1.4rem;
    }

    .pg7-sec {
        width: 100%;
        height: 100%;
        padding-bottom: 8.5rem;
        background-image: url(../images/pg7_bg.png);
    }

    .pg7-sec h3 {
        margin-top: 7rem;
        font-size: 2.8rem;
    }

    .pg7-sec p {
        margin-top: 3.7rem;

        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .pg8-sec {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }

    .pg8-sec .info {
        padding: 0;
    }

    .pg8-sec .info h3 {
        font-size: 3rem;
    }

    .pg8-sec .info .contents {
        display: flex;
        flex-direction: column;
    }

    .pg8-sec .info .table-wrap .table {
        margin-top: 3rem;
    }

    .pg8-sec .info .table-wrap .table tr {
        margin: 2rem 0;
    }

    .pg8-sec .info .table-wrap .table .title {
        margin-bottom: 0.3rem;

        display: block;
        font-weight: bolder;
    }

    .pg8-sec .map-wrap {
        margin-top: 5rem;
    }

    .pg8-sec .map-wrap #map {
        width: 90%;
        height: 50rem;
    }

    footer {
        padding: 0;
    }

    footer .footer-wrap {
        padding: 0 2rem;
        margin-top: 4rem;
        margin-bottom: 4em;

        display: flex;
        flex-direction: column;
    }

    footer .info-box {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    footer .info-box .logo {
        width: 10rem;
        height: 4.75rem;
    }

    footer .info-box .info {
        margin-top: 3rem;
    }

    footer .info-box .info h5 {
        font-size: 1.5rem;
    }

    footer .info-box .info p {
        font-size: 1.2rem;
    }

    footer .sns-list {
        margin-top: 2.6rem;
        width: 100%;
    }


    .callBtn {
        right: 2rem;
    }

    .topBtn {
        right: 2rem;
    }

    .terms-pers-table {
        width: 95%;
    }

    .modal-content .terms-article .terms-ul > li {
        padding-left: 0px;
    }

}
