.sec {
  font-size: 11px;
}
@media screen and (max-width: 415px) {
  .sec {
    font-size: 8px;
  }
}
.sec .top {
  padding: 3em 0;
}
.sec .top .title {
  padding-top: 5em;
  text-align: center;
}
.sec .top .title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 4em;
  color: var(--black);
  margin-bottom: 0.3em;
}
.sec .top .title h3 {
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--black);
}
.sec .bottom {
  padding: 2.5em 0 5em 0;
}
.sec .bottom .columns {
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  flex-flow: row;
  gap: 1em;
}
.sec .bottom .columns .column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 3em;
  font-size: 1.8em;
  width: 33.3333333333%;
  min-height: 100px;
  border: 1px solid #c9c9c9;
  border-radius: 1em;
  padding: 1em;
}
.sec .bottom .columns .column * {
  font-family: "Noto Sans KR", sans-serif;
}
.sec .bottom .columns .column .footer button {
  width: 100%;
  font-size: 1.1em;
  color: var(--white);
  border: 0;
  padding: 0.5em 1em;
}
.sec .bottom .columns .column:nth-child(1) {
  color: var(--primary);
}
.sec .bottom .columns .column:nth-child(1) .footer button {
  background-color: var(--primary);
}
.sec .bottom .columns .column:nth-child(2) {
  color: var(--secondary);
}
.sec .bottom .columns .column:nth-child(2) .footer button {
  background-color: var(--secondary);
}
.sec .bottom .columns .column:nth-child(3) {
  color: var(--accent);
}
.sec .bottom .columns .column:nth-child(3) .footer button {
  background-color: var(--accent);
}
.sec .bottom .columns .column .codename {
  margin-bottom: 1em;
}
.sec .bottom .columns .column .codename label {
  font-size: 0.8em;
  border-radius: 8px;
  padding: 0.4em 0.8em;
  display: inline-block;
  background-color: var(--primary-bg);
}
.sec .bottom .columns .column .name {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 0.3em;
}
@media screen and (max-width: 415px) {
  .sec .bottom .columns .column .name {
    font-size: 2em;
  }
}
.sec .bottom .columns .column .pricing {
  text-align: right;
  margin-bottom: 1.5em;
}
@media screen and (max-width: 415px) {
  .sec .bottom .columns .column .pricing {
    font-size: 1.2em;
  }
}
.sec .bottom .columns .column .pricing .description {
  color: var(--black);
  font-weight: 300;
}
.sec .bottom .columns .column .pricing .amount {
  color: inherit;
  font-size: 1.5em;
  font-weight: 600;
}
.sec .bottom .columns .column .main-services {
  font-size: 0.95em;
}
.sec .bottom .columns .column .main-services .title {
  font-size: 0.9em;
  color: var(--gray);
  font-weight: 400;
  margin-bottom: 0.8em;
}
.sec .bottom .columns .column .main-services .inherit {
  font-size: 0.8em;
  border-radius: 8px;
  padding: 0.4em 0.8em;
  display: inline-block;
  background-color: var(--primary-bg);
  margin-bottom: 0.5em;
}
.sec .bottom .columns .column .main-services ul {
  color: var(--black);
  font-weight: 300;
}
.sec .bottom .columns .column .main-services ul li {
  margin-bottom: 0.5em;
}
.sec .bottom .columns .column .etc-services {
  font-size: 0.9em;
}
.sec .bottom .columns .column .etc-services .title {
  color: var(--black);
  margin-bottom: 0.5em;
}
.sec .bottom .columns .column .etc-services ul {
  color: var(--dark-gray);
  font-weight: 300;
  padding-left: 1em;
  font-size: 0.95em;
}
.sec .bottom .columns .column .etc-services ul li {
  margin-bottom: 0.5em;
}
@media screen and (max-width: 415px) {
  .sec .bottom .columns .column {
    width: 100%;
  }
}
@media screen and (max-width: 415px) {
  .sec .bottom .columns {
    flex-flow: column;
  }
}

/*# sourceMappingURL=subscription.css.map */
