@keyframes opening {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sec {
  .top .title {
    opacity: 0;
    animation: opening 0.3s forwards ease-in;
  }

  .bottom {
    padding: 2.5em 0 5em 0;

    .columns {
      margin: 0 auto;
      max-width: 1080px;
      display: flex;
      flex-flow: row;
      gap: 1em;

      .column {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        gap: 3em;

        * {
          font-family: 'Noto Sans KR', sans-serif;
        }

        font-size: 1.8em;

        width: calc(100% / 3);
        min-height: 100px;
        border: 1px solid #c9c9c9;
        border-radius: 1em;

        background-color: #fdfdfd;
        &:hover {
          border-color: var(--accent);
          background-color: var(--white);
        }

        padding: 1em;

        opacity: 0;
        animation: opening 0.3s forwards ease-in-out;

        .footer {
          button {
            width: 100%;
            font-size: 1.1em;
            color: var(--white);
            border: 0;
            padding: 0.5em 1em;
          }
        }

        &:nth-child(1) {
          color: var(--primary);

          .footer button {
            background-color: var(--primary);
          }
          animation-delay: 0.2s;
        }

        &:nth-child(2) {
          color: var(--secondary);

          .footer button {
            background-color: var(--secondary);
          }

          animation-delay: 0.4s;
        }

        &:nth-child(3) {
          color: var(--accent);

          .footer button {
            background-color: var(--accent);
          }

          animation-delay: 0.6s;
        }

        .codename {
          label {
            font-size: 0.8em;
            border-radius: 8px;
            padding: 0.4em 0.8em;
            display: inline-block;
            background-color: var(--primary-bg);
          }

          margin-bottom: 1em;
        }

        .name {
          font-size: 1.6em;
          font-weight: 600;
          margin-bottom: 0.3em;

          @media screen and (max-width: 415px) {
            font-size: 2em;
          }
        }

        .pricing {
          @media screen and (max-width: 415px) {
            font-size: 1.2em;
          }
          text-align: right;

          .description {
            color: var(--black);
            font-weight: 300;
          }

          .amount {
            color: inherit;
            font-size: 1.5em;
            font-weight: 600;
          }

          margin-bottom: 1.5em;
        }

        .main-services {
          font-size: 0.95em;

          .title {
            font-size: 0.9em;
            color: var(--gray);
            font-weight: 400;
            margin-bottom: 0.8em;
          }

          .inherit {
            font-size: 0.8em;
            border-radius: 8px;
            padding: 0.4em 0.8em;
            display: inline-block;
            background-color: var(--primary-bg);
            margin-bottom: 0.5em;
          }

          ul {
            color: var(--black);
            font-weight: 300;

            li {
              margin-bottom: 0.5em;
            }
          }
        }

        .etc-services {
          font-size: 0.9em;

          .title {
            color: var(--black);
            margin-bottom: 0.5em;
          }

          ul {
            color: var(--dark-gray);
            font-weight: 300;
            padding-left: 1em;
            font-size: 0.95em;

            li {
              margin-bottom: 0.5em;
            }
          }
        }

        @media screen and (max-width: 415px) {
          width: 100%;
        }
      }

      @media screen and (max-width: 415px) {
        flex-flow: column;
      }
    }
  }
}
