@import '../vars-layout';


.customers {
  padding: 103px 1em;
  @media (max-width: 768px) {
    padding: 26px 1em;
  }

  @media (max-width: 512px) {
    padding: 24px 1em;
  }

  .main-title {
    justify-content: start;
    height: auto;

    &__text {
      align-items: start;

      * {
        text-align: left;
      }

      h1 {
        margin-bottom: 30px;
      }
    }

    margin-bottom: 100px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }

    @media (max-width: 512px) {
      margin-bottom: 30px;
    }
  }

  &__banners {
    overflow: hidden;
    .banners {
      display: flex;
      flex-flow: row nowrap;
      gap: 16px;
      white-space: nowrap;
      padding: 0;
      .banner {
        flex-shrink: 0;
        transition-duration: .3s;
        vertical-align: middle;
        display: inline-flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: white;
        box-shadow: -2px 3px 8px 0px rgba(0, 0, 0, 0.14);
        width: 400px;
        height: 200px;
        @media (max-width: 768px) {
          width: 258px;
          height: 124px;
        }

        @media (max-width: 512px) {
          width: 154px;
          height: 96px;
        }

        img {
          width: 30%;
        }
      }
    }
  }
}
