@import '../vars-layout';

.map {
  background-color: #F6F6F6;
  padding: 0 1em;
  padding-top: 94px;
  @media (max-width: 768px) {
    padding-top: 54px;
  }

  @media (max-width: 512px) {
    padding-top: 52px;
  }

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  h1 {
    color: #000;
    font-family: NanumSquare Neo, sans-serif;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -1.5px;
    text-align: center;

    margin-bottom: 80px;
    @media (max-width: 768px) {
      font-size: 40px;
      margin-bottom: 40px;
    }

    @media (max-width: 512px) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  &__address {
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    padding-bottom: 96px;
    @media (max-width: 768px) {
      padding-bottom: 46px;
    }

    @media (max-width: 512px) {
      padding-bottom: 42px;
    }

    .m-50 {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
    }

    @media (max-width: 512px) {
      .m-50 {
        flex-flow: row nowrap;

        dl {
          flex-flow: column nowrap;
          align-items: start;
          gap: 0;
        }
      }
    }

    dl {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 32px;
      margin: 0;

      width: 100%;
    }

    dt {
      color: rgba(0, 0, 0, 0.5);

      font-family: Montserrat, sans-serif;
      font-size: 26px;
      font-weight: 500;
      line-height: 48px;
      letter-spacing: -0.78px;

      @media (max-width: 768px) {
        font-size: 24px;
      }

      @media (max-width: 512px) {
        font-size: 16px;
      }
    }

    dd {
      margin: 0;
      color: #000;
      font-family: Pretendard, sans-serif;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: -0.78px;

      @media (max-width: 768px) {
        font-size: 24px;
      }

      @media (max-width: 512px) {
        font-size: 18px;
      }
    }
  }

  &__frame {
    position: relative;

    div {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
