@import '../vars-layout';

@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/nanumsquare-neo');

.news {
  &__head {
    padding: 0 1em;
    padding-top: 103px;
    @media (max-width: 768px) {
      padding-top: 26px;
    }

    @media (max-width: 512px) {
      padding-top: 24px;
    }

    .main-title {
      margin: 0;
    }
  }

  &__panel {
    padding: 54px 0;
    @media (max-width: 768px) {
      padding: 26px 0;
    }

    @media (max-width: 512px) {
      padding: 30px 0;
    }

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &__prev, &__next {
      width: 36px;
      height: 36px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      @media (max-width: 768px) {
        width: 26px;
        height: 26px;
      }

      @media (max-width: 512px) {
        width: 24px;
        height: 24px;
      }
    }

    &__prev {
      background-image: url("/static/images/icons/left-green.png");
    }

    &__next {
      background-image: url("/static/images/icons/right-green.png");
    }

    &__paging {
      font-size: 22px;
      @media (max-width: 768px) {
        font-size: 18px;
      }

      @media (max-width: 512px) {
        font-size: 12px;
      }
      margin-left: 1em;
      padding: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 18px;

      li {
        color: #888;
        font-weight: 500;

        font-family: Montserrat, sans-serif;
        line-height: 40px;
        letter-spacing: -0.78px;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 18px;

        &.active {
          &:before {
            content: "";
            display: block;
            background-color: $primary;
            width: 2em;
            height: 0.2ex;
          }

          color: $primary;
          font-weight: 700;
        }
      }
    }
  }

  &__cards {
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__card {
    scroll-snap-align: center;
    white-space: normal;
    margin-right: 40px;
    display: inline-block;
    width: 400px;
    @media (max-width: 768px) {
      width: 320px;
    }

    @media (max-width: 512px) {
      width: 215px;
    }

    &__img {
      width: 100%;
    }

    &__contents {
      padding: 44px 0;

      &__name {
        color: #888;
        font-family: NanumSquare Neo, sans-serif;
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 8px;
      }

      &__title {
        color: #000;

        font-family: NanumSquare Neo, sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: -0.45px;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      &__description {
        margin: 18px 0;
        color: #0E141E;

        font-family: Pretendard, sans-serif;
        font-size: 14px;
        font-weight: 400;

        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      button {
        font-family: Pretendard, sans-serif;
        background-color: $primary-100;
        color: $primary;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
