@import '../vars-layout';

@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/nanumsquare-neo');


.salon {
  padding: 103px 1em;
  @media (max-width: 768px) {
    padding: 26px 1em;
  }

  @media (max-width: 512px) {
    padding: 24px 1em;
  }

  .main-title {
    margin: 0;
  }

  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("/static/images/bg-salon.jpeg");
  background-position: center center;
  background-size: cover;
  background-blend-mode: darken;
  position: relative;

  color: white;

  &__title {
    font-family: NanumSquare Neo, sans-serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1.5px;
    text-align: start;
    height: auto;

    white-space: nowrap;

    strong, b {
      font-weight: 600;
    }

    margin-bottom: 38px;
    @media (max-width: 768px) {
      font-size: 34px;
      margin-bottom: 24px;
    }

    @media (max-width: 512px) {
      font-size: 20px;
      margin-bottom: 8px;
    }
  }

  &__biz-counter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;

    span {
      opacity: 0.6;
      color: #FFF;
      font-family: Pretendard, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.6px;
      @media (max-width: 768px) {
        font-size: 18px;
      }

      @media (max-width: 512px) {
        font-size: 12px;
      }
    }

    b {
      font-family: Montserrat, sans-serif;
      color: #FFF;
      font-size: 68px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -2.1px;
      @media (max-width: 768px) {
        font-size: 50px;
      }

      @media (max-width: 512px) {
        font-size: 28px;
      }
    }

    margin-bottom: 114px;
    @media (max-width: 768px) {
      margin-bottom: 52px;
    }

    @media (max-width: 512px) {
      font-size: 32px;
    }
  }

  button {
    font-family: Pretendard, sans-serif;
    background-color: $primary;
    color: white;

    font-size: 20px;
    font-weight: 700;

    padding: 20px 40px;
    @media (max-width: 768px) {
      padding: 16px 32px;
      font-size: 18px;
    }

    @media (max-width: 512px) {
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__chain {
    position: absolute;
    top: min(10vw, 300px);
    right: min(10vw, 300px);

    width: min(30vw, 323px);
    height: min(30vw, 323px);

    @keyframes rotate_image {
      100% {
        transform: rotate(360deg);
      }
    }

    &__circle {
      animation: rotate_image 10s linear infinite;
      transform-origin: 50% 50%;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      img {
        width: 50%;
      }
    }
  }

  &__items {
    padding-top: 120px;

    @media (max-width: 768px) {
      padding-top: 60px;
    }

    @media (max-width: 512px) {
      padding-top: 24px;
    }

    &__head {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 512px) {
        flex-flow: column nowrap;
        align-items: start;
        justify-content: start;
      }
    }

    &__body {

    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  &__ribbon {
    width: 100%;
    max-width: 60vw;

    @media (max-width: 512px) {
      max-width: none;
      img {
        height: 16px;
      }
    }
    overflow: hidden;

    ul {
      will-change: transform;
      animation: marquee 20s linear infinite;
      padding: 0;
      display: inline-flex;
      flex-flow: row nowrap;
      gap: 30px;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 60px;

    * {
      background-size: 100% 100%;
      width: 60px;
      height: 32px;
    }

    @media (max-width: 768px) {
      * {
        width: 40px;
        height: 21px;
      }
      gap: 40px;
    }

    @media (max-width: 512px) {
      * {
        width: 20px;
        height: 10px;
      }
      gap: 20px;
    }

    &__prev {
      background-image: url("/static/images/pg4_arrow_left.png");
    }

    &__next {
      background-image: url("/static/images/pg4_arrow_right.png");
    }
  }

  &__list {
    width: 100%;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      display: inline-block;
      margin-right: 16px;

      .interview-wrap {
        display: block;
        position: relative;
        overflow: hidden;

        p {
          position: absolute;
          bottom: 25px;
          left: 24px;
          font-family: Pretendard, sans-serif;
          font-weight: 700;
          font-size: 24px;
          color: white;
          transition: all 0.3s;
          z-index: 1;
        }

        .logo {
          position: absolute;
          top: 16px;
          right: 16px;
          z-index: 1;
          transition: all 0.8s;
        }

        .interview {
          transition: all 1s;
          height: 360px;
          @media (max-width: 768px) {
            height: 200px;
          }

          @media (max-width: 512px) {
            height: 164px;
          }
        }


        &:hover {
          p {
            bottom: 30%;
          }

          .interview {
            transform: scale(1.3, 1.3);
          }

          .logo {
            transform: scale(1.1, 1.1);
          }
        }
      }
    }
  }
}
