<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="/static/css/modal.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/slick.css" rel="stylesheet">
    <script defer type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=6hjg4fhdj6"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/modal.js"></script>
    <script src="/static/js/freeModal.js"></script>
    <link rel="shortcut icon" href="/static/manifest/favicon.ico">
    <link rel="manifest" href="/static/manifest/manifest.webmanifest">
    <meta property="og:image" content="/static/images/pg4_logo.png">
    <meta property="og:image:width" content="132">
    <meta property="og:image:height" content="115">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:site_name" content="비세이프 | Besafe">
    <meta property="og:url" content="https://be-safe.kr{{ request.path }}">
    <meta property="og:type" content="website">
    {% block seo %}
        <title>비세이프 | 스타트업의 성장 로드맵 및 특허설계서비스</title>
        <meta property="description"
              content="비세이프는 스타트업의 성장 로드맵 제작 및 기술력 자산화를 위한 특허설계서비스를 제공합니다. 창업에서 성장까지의 도움이 필요하신가요? 비세이프와 함께 성공의 길로!">
        <meta property="keywords" content="비세이프, 스타트업, 성장 로드맵, 특허설계, 기술 자산화, 창업, 기업 성장, 비세이프 살롱, 기업 컨설팅">
        <meta property="og:title" content="비세이프 | 스타트업의 성장 로드맵 및 특허설계서비스">
        <meta property="og:description" content="창업에서 성장까지, 비세이프와 함께 성공의 길로!">
    {% endblock %}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    {% block head %}{% endblock %}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MLJHB3QBCS"></script>
</head>
<body>
    {% block body %}{% endblock %}
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-MLJHB3QBCS');
</script>
</body>
</html>
