{% import "modules/layout.jinja2" as layout %}
{% set gnb_selected = gnb_selected or "" %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "manifest/favicon.ico" %}">
    <link rel="manifest" href="{% static "manifest/manifest.webmanifest" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <meta property="og:image" content="{% static "images/pg4_logo.png" %}">
    <meta property="og:image:width" content="132">
    <meta property="og:image:height" content="115">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:site_name" content="비세이프 | Besafe">
    <meta property="og:url" content="https://be-safe.kr{{ request.path }}">
    <meta property="og:type" content="website">
    {% block seo %}
        <title>비세이프 | 스타트업의 성장 로드맵 및 특허설계서비스</title>
        <meta property="description"
              content="비세이프는 스타트업의 성장 로드맵 제작 및 기술력 자산화를 위한 특허설계서비스를 제공합니다. 창업에서 성장까지의 도움이 필요하신가요? 비세이프와 함께 성공의 길로!">
        <meta property="keywords" content="비세이프, 스타트업, 성장 로드맵, 특허설계, 기술 자산화, 창업, 기업 성장, 비세이프 살롱, 기업 컨설팅">
        <meta property="og:title" content="비세이프 | 스타트업의 성장 로드맵 및 특허설계서비스">
        <meta property="og:description" content="창업에서 성장까지, 비세이프와 함께 성공의 길로!">
    {% endblock %}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>

    <script defer src="{% static "js/slide.js" %}"></script>
    <script defer src="{% static "js/base.js" %}"></script>
    {% block head %}{% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MLJHB3QBCS"></script>
    <link href="{% static "css/layout.css" %}" rel="stylesheet">
    <link href="{% static "css/modal.css" %}" rel="stylesheet">
</head>
<body>
{% block header %}{{ layout.gnb(gnb_selected) }}{% endblock %}
{% block body %}{% endblock %}
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-MLJHB3QBCS');
</script>
<footer>
    <div class="container">
        <div class="frame">
            <div class="div">
                <img class="group" src="{% static "images/footer-logo.svg" %}"/>
                <div class="div-2">
                    <div class="text-wrapper">(주)라이트형제</div>
                    <p class="element">
                        대표자 전형진 | 사업자 등록번호 526-87-01439<br/>세종특별자치시 조치원읍 으뜸길 177 1층
                    </p>
                    <div class="div-3">
                        <div>Tel. 1588-8231</div>
                        <div>Fax. 0504-425-6293</div>
                        <div>Mail. besafe.gmail.com</div>
                    </div>
                    <p class="p">Copyright(c) Besafe All Right Reserced.</p>
                </div>
            </div>
        </div>
        <div class="sns">
            <img class="img" src="{% static "images/instagram.svg" %}"/>
            <img class="img" src="{% static "images/channeltalk.svg" %}"/>
        </div>
    </div>
</footer>
<dialog id="freeModal" class="modal" data-current-step>
    <div class="modal__head">
        <div class="close"></div>
    </div>
    <form action="/api/consulting" method="POST" class="modal__body">
        {% csrf_token %}
        <div class="inner">
            <div class="title">
                <h3>무료상담신청</h3>
                <p>비세이프가 제공하는 최적의 솔루션</p>
                <span>대표님은 어떤 퍼즐이 비어있으신가요?</span>
            </div>
            <div class="steps shift shift--form">
                <div class="step shift__item">
                    <div class="bar">
                        <img loading="lazy" src="{% static "images/free_06/navBar01.png" %}" alt="">
                        <label><span>1step </span> / 3step</label>
                    </div>
                    <div class="contents">
                        <h5><strong>* </strong>어떤 파트에 어려움이 있으신가요?</h5>
                        <div class="part">
                            <h6>자금유치 파트</h6>
                            <fieldset>
                                <input type="checkbox" id="part01_01" name="part01" value="정부지원">
                                <label for="part01_01">정부지원</label>
                                <input type="checkbox" id="part01_02" name="part01" value="투자유치">
                                <label for="part01_02">투자유치</label>
                                <input type="checkbox" id="part01_03" name="part01" value="융자">
                                <label for="part01_03">융자</label>
                            </fieldset>
                        </div>
                        <div class="part">
                            <h6>브랜딩/마케팅 파트</h6>
                            <fieldset>
                                <input type="checkbox" id="part02_01" name="part02" value="마케팅 채널 셋팅">
                                <label for="part02_01">마케팅 채널 셋팅</label>

                                <input type="checkbox" id="part02_02" name="part02" value="마케팅 종합관리">
                                <label for="part02_02">마케팅 종합관리</label>

                                <input type="checkbox" id="part02_03" name="part02" value="브랜딩 전반솔루션">
                                <label for="part02_03">브랜딩 전반솔루션</label>
                            </fieldset>
                        </div>
                        <div class="part">
                            <h6>개발 파트</h6>
                            <fieldset class="inputs">
                                <input type="checkbox" id="part03_01" name="part03" value="플랫폼 개발">
                                <label for="part03_01">플랫폼 개발</label>

                                <input type="checkbox" id="part03_02" name="part03" value="개발 PM">
                                <label for="part03_02">개발 PM</label>

                                <input type="checkbox" id="part03_03" name="part03" value="홈페이지 개발">
                                <label for="part03_03">홈페이지 개발</label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="btn">
                        <button type="button" class="primary shift__right">다음</button>
                    </div>
                </div>
                <div class="step shift__item">
                    <div class="bar">
                        <img loading="lazy" src="/static/images/free_06/navBar02.png" alt="">
                        <label><span>2step </span> / 3step</label>
                    </div>
                    <div class="contents">
                        <h5><strong>* </strong>다음 정보를 기재해주세요</h5>
                        <fieldset>
                            <label>
                                <h6>회사명</h6>
                                <input name="company_name" type="text" placeholder="회사명을 입력해주세요">
                            </label>
                            <label>
                                <h6>이름</h6>
                                <input name="name" type="text" placeholder="이름을 입력해주세요">
                            </label>
                            <label>
                                <h6>연락처(휴대폰)</h6>
                                <input name="phone" type="text" placeholder="010-1234-5678">
                            </label>
                        </fieldset>
                    </div>
                    <div class="btn">
                        <button type="button" class="shift__left">이전</button>
                        <button type="button" class="primary shift__right">다음</button>
                    </div>
                </div>
                <div class="step shift__item">
                    <div class="bar">
                        <img loading="lazy" src="/static/images/free_06/navBar03.png" alt="">
                        <label><span>3step </span> / 3step</label>
                    </div>
                    <div class="contents">
                        <h5><strong>* </strong>다음 정보를 입력해주세요</h5>
                        <fieldset>
                            <label class="business">
                                <h6>업종</h6>
                                <select name="business">
                                    <option value="제조업">제조업</option>
                                    <option value="IT/소프트웨어">IT/소프트웨어</option>
                                    <option value="문화콘텐츠">문화콘텐츠</option>
                                    <option value="광고/마케팅서비스">광고/마케팅서비스</option>
                                    <option value="교육서비스">교육서비스</option>
                                    <option value="여행/관광서비스">여행/관광서비스</option>
                                    <option value="의료/보건서비스">의료/보건서비스</option>
                                    <option value="부동산/임대서비스">부동산/임대서비스</option>
                                    <option value="체육서비스">체육서비스</option>
                                    <option value="컨설팅서비스">컨설팅서비스</option>
                                    <option value="도소매업">도소매업</option>
                                    <option value="농업/어업/임업/광업">농업/어업/임업/광업</option>
                                    <option value="음식점/주점/기타자영업">음식점/주점/기타자영업</option>
                                    <option value="기타업종">기타업종</option>
                                </select>
                            </label>
                            <label class="sales">
                                <h6>매출</h6>
                                <select name="sales">
                                    <option value="1억~5억">1억~5억</option>
                                    <option value="6억~10억">5억~10억</option>
                                    <option value="11억~15억">10억~15억</option>
                                    <option value="16억~20억">16억~20억</option>
                                    <option value="21억~">21억~</option>
                                </select>
                            </label>
                            <label class="inquiry">
                                <h6>내용</h6>
                                <textarea name="inquiry" placeholder="문의 내용을 간략히 입력해주세요"></textarea>
                            </label>
                        </fieldset>
                    </div>
                    <div class="btn">
                        <button type="button" class="shift__left">이전</button>
                        <button type="submit" class="primary submit">완료</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</dialog>
</body>
</html>
