{% import "modules/layout.jinja2" as layout %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static "manifest/favicon.ico" %}">
    <link rel="manifest" href="{% static "manifest/manifest.webmanifest" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <meta property="og:image" content="{% static "images/pg4_logo.png" %}">
    <meta property="og:image:width" content="132">
    <meta property="og:image:height" content="115">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:site_name" content="비세이프 | Besafe">
    <meta property="og:url" content="https://be-safe.kr{{ request.path }}">
    <meta property="og:type" content="website">
    {% block seo %}
        <title>비세이프 | 스타트업의 성장 로드맵 및 특허설계서비스</title>
        <meta property="description"
              content="비세이프는 스타트업의 성장 로드맵 제작 및 기술력 자산화를 위한 특허설계서비스를 제공합니다. 창업에서 성장까지의 도움이 필요하신가요? 비세이프와 함께 성공의 길로!">
        <meta property="keywords" content="비세이프, 스타트업, 성장 로드맵, 특허설계, 기술 자산화, 창업, 기업 성장, 비세이프 살롱, 기업 컨설팅">
        <meta property="og:title" content="비세이프 | 스타트업의 성장 로드맵 및 특허설계서비스">
        <meta property="og:description" content="창업에서 성장까지, 비세이프와 함께 성공의 길로!">
    {% endblock %}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MLJHB3QBCS"></script>
</head>
<body>
{% block header %}{{ layout.gnb() }}{% endblock %}
{% block body %}{% endblock %}
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-MLJHB3QBCS');
</script>
<footer>
    <div class="container">
        <div class="frame">
            <div class="div">
                <img class="group" src="{% static "images/footer-logo.svg" %}"/>
                <div class="div-2">
                    <div class="text-wrapper">(주)라이트형제</div>
                    <p class="element">
                        대표자 전형진 | 사업자 등록번호 526-87-01439<br/>세종특별자치시 조치원읍 으뜸길 177 1층
                    </p>
                    <div class="div-3">
                        <div class="text-wrapper">Tel. 1588-8231</div>
                        <div class="text-wrapper">Fax. 0504-425-6293</div>
                        <div class="text-wrapper">Mail. besafe.gmail.com</div>
                    </div>
                    <p class="p">Copyright(c) Besafe All Right Reserced.</p>
                </div>
            </div>
        </div>
        <div class="sns">
            <img class="img" src="{% static "images/instagram.svg" %}"/>
            <img class="img" src="{% static "images/channeltalk.svg" %}"/>
        </div>
    </div>
</footer>
</body>
</html>
