{% extends "base.html" %}

{% block head %}
    <link href="{% static "css/intro.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="div-wrapper">
        <div class="overlap-group">
            <div class="container">
                <div class="frame-7">
                    <div class="dreams-come-true">Dreams come true<br/>with Besafe</div>
                    <p class="p">시행착오를 줄이고 사업가들이 안전하게 사업할 수 있도록.</p>
                </div>
            </div>
        </div>
        <div class="tabs">
            <div class="container">
                <div class="frame-5">
                    <div class="text-wrapper-30">서비스 소개</div>
                    <img class="vector-8" src="{% static "images/intro/vector-1.svg" %}"/>
                </div>
                <div class="text-wrapper-31">회사 소개</div>
            </div>
        </div>
        <div class="view">
            <div class="group-2">
                <div class="frame-8">
                    <div class="text-wrapper-4">Problem</div>
                    <p class="div-2">
                        <span class="span">현저하게 낮은<br/></span>
                        <span class="text-wrapper-5">대한민국 창업 교육 점수</span>
                    </p>
                </div>
                <div class="frame-9">
                    <div class="frame-10">
                        <img class="element" src="{% static "images/intro/728-1.png" %}"/>
                        <p class="text-wrapper-6">자료 출처 : 글로벌 기업가정신 모니터(GEM), 한국보고서</p>
                    </div>
                </div>
            </div>
            <div class="group-3">
                <p class="div-3">
                    <span class="text-wrapper-7">많은 비율, 적은 생존률</span>
                    <span class="text-wrapper-8">의<br/>국내 신생 </span>
                    <span class="text-wrapper-7">스타트업</span>
                </p>
                <div class="frame-11">
                    <img class="element-2" src="{% static "images/intro/729-1.png" %}"/>
                    <p class="text-wrapper-6">
                        자료 출처 : 통계청-Eurostat, 2017 주요국 신생기업 생존율&nbsp;&nbsp;| 중소벤처기업부, 2021 창업기업
                        생존율
                    </p>
                </div>
            </div>
        </div>
        <div class="view-2">
            <div class="frame-12">
                <div class="text-wrapper-4">Needs</div>
                <p class="div-2">
                    <span class="span">1회성 강사가 아닌,<br/></span>
                    <span class="text-wrapper-5">지속적인 도움을 제공하는 비즈니스 파트너</span>
                </p>
            </div>
            <div class="frame-13">
                <div class="frame-10">
                    <div class="frame-14">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-2">
                                <div class="rectangle-3"></div>
                                <div class="frame-15">
                                    <div class="text-wrapper-9">창업교육 경험자 A씨</div>
                                    <p class="text-wrapper-10">
                                        &#34;현업에서 유의미한 성취를 경험한<br/>실무전문가를 만나고 싶어요&#34;
                                    </p>
                                </div>
                                <img class="peeps-avatar-alpha"
                                     src="{% static "images/intro/peeps-avatar-alpha-1-1.png" %}"/>
                            </div>
                        </div>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-2">
                                <div class="rectangle-3"></div>
                                <div class="frame-16">
                                    <div class="text-wrapper-9">창업교육 경험자 B씨</div>
                                    <p class="text-wrapper-11">
                                        &#34;창업교육자와의 관계와 소통이<br/>제대로 이뤄졌으면 좋겠어요&#34;
                                    </p>
                                </div>
                                <img class="peeps-avatar-alpha-2"
                                     src="{% static "images/intro/peeps-avatar-alpha-4-1.png" %}"/>
                            </div>
                        </div>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-2">
                                <div class="rectangle-3"></div>
                                <div class="frame-17">
                                    <div class="text-wrapper-9">창업교육 경험자 C씨</div>
                                    <p class="text-wrapper-10">
                                        &#34;실제로 같은 직종에서 활동하는<br/>창업 선배들의 멘토링과 <br/>열린 공간 속에서 교육을
                                        받기를 원해요&#34;
                                    </p>
                                </div>
                                <img class="peeps-avatar-alpha-3"
                                     src="{% static "images/intro/peeps-avatar-alpha-2-1.png" %}"/>
                            </div>
                        </div>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-2">
                                <div class="rectangle-3"></div>
                                <div class="frame-18">
                                    <div class="text-wrapper-9">창업교육 경험자 D씨</div>
                                    <p class="text-wrapper-10">
                                        &#34;멘토링보다 강의 시간이 많아<br/>멘토링은 금방 끝나는 경우가 많아요.<br/>지속적 멘토링으로
                                        실질적 도움을 얻고싶어요&#34;
                                    </p>
                                </div>
                                <img class="peeps-avatar-alpha-4"
                                     src="{% static "images/intro/peeps-avatar-alpha-6-1.png" %}"/>
                            </div>
                        </div>
                    </div>
                    <p class="text-wrapper-6">자료 출처 : 더퍼스트미디어, 2021 창업자인터뷰</p>
                </div>
                <img class="frame-19" src="{% static "images/intro/frame-22.svg" %}"/>
                <div class="overlap-wrapper">
                    <div class="overlap">
                        <p class="element-3">
                            <span class="text-wrapper-7">지속적인 1:1 멘토링</span>
                            <span class="text-wrapper-8">으로 기업에게 실질적인 도움을 줄 수 있는<br/></span>
                            <span class="text-wrapper-7">스타트업 전문 “비즈니스 파트너”가 필요함</span>
                        </p>
                        <div class="rectangle-4"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-3">
            <div class="group-4">
                <div class="text-wrapper-12">Solution</div>
                <p class="div-4">
                    <span class="text-wrapper-13">‘스타트업’ </span>
                    <span class="text-wrapper-14">대상으로 </span>
                    <span class="text-wrapper-13">‘사업에 필요한 모든 노하우’</span>
                    <span class="text-wrapper-14">를 </span>
                    <span class="text-wrapper-13">‘가능한 모든 방식&#39;</span>
                    <span class="text-wrapper-14">으로 제공</span>
                </p>
                <div class="overlap-group-3">
                    <img class="vector-2" src="{% static "images/intro/vector-2.svg" %}"/> <img class="vector-3"
                                                                                                src="{% static "images/intro/vector-7.svg" %}"/>
                </div>
                <div class="overlap-2">
                    <img class="vector-4" src="{% static "images/intro/vector-7.svg" %}"/> <img class="vector-5"
                                                                                                src="{% static "images/intro/vector-3.svg" %}"/>
                </div>
                <div class="overlap-3">
                    <img class="vector-6" src="{% static "images/intro/vector-7.svg" %}"/> <img class="vector-7"
                                                                                                src="{% static "images/intro/vector-4.svg" %}"/>
                </div>
                <div class="frame-20">
                    <p class="text-wrapper-15">
                        오프라인 맞춤형 멘토링 교육<br/>온라인 비대면 교육<br/>유망 기업 선발, 투자(액셀러레이팅)<br/>초기
                        사업화 공간 제공(보육실)
                    </p>
                </div>
                <div class="element-wrapper">
                    <p class="text-wrapper-15">
                        정부지원정책 맞춤형 교육<br/>사업계획 1:1 코칭<br/>세심한 특허 설계<br/>B2B, B2C, B2G 활용방법
                    </p>
                </div>
                <div class="frame-21">
                    <div class="text-wrapper-15">초기 창업자<br/>예비 창업자</div>
                </div>
            </div>
            <div class="frame-22">
                <p class="div-5">
                    <span class="span">창업기업</span>
                    <span class="text-wrapper-5"> 액셀러레이션</span>
                    <span class="span">으로<br/></span>
                    <span class="text-wrapper-5">든든한 동반자</span>
                    <span class="span">가 되다</span>
                </p>
                <div class="group-5">
                    <div class="group-6">
                        <div class="text-wrapper-16">초기 스타트업</div>
                        <img class="image" src="{% static "images/intro/image-1.png" %}"/>
                        <p class="text-wrapper-17">
                            사업 아이템은 있지만 사업할 자신이 없는 분<br/>기술력은 있지만 창업에 대해 잘 모르는 분<br/>창업했지만
                            성장전략이 미흡해 사업 성장이 어려운 분
                        </p>
                    </div>
                    <div class="group-7">
                        <div class="overlap-group-4">
                            <div class="rectangle-5"></div>
                            <div class="rectangle-6"></div>
                        </div>
                    </div>
                    <div class="group-8">
                        <div class="text-wrapper-18">Accelerator</div>
                        <img class="group-9" src="{% static "images/intro/group-9-1.png" %}"/>
                        <p class="bc-bb-bg">
                            창업코칭<br/>B2C, B2B, B2G 개척 교육<br/>사업도약 지원<br/>우수 스타트업 대상 투자
                        </p>
                    </div>
                    <img class="frame-23" src="{% static "images/intro/frame-30.svg" %}"/>
                    <div class="group-10">
                        <div class="text-wrapper-19">Goal</div>
                        <img class="group-11" src="{% static "images/intro/group-22.png" %}"/>
                        <div class="text-wrapper-20">도약 스타트업</div>
                    </div>
                </div>
            </div>
            <div class="frame-22">
                <div class="frame-24">
                    <div class="text-wrapper-21">성공적인 Scale-up을 도모하다</div>
                    <div class="text-wrapper-22">Start-up 도약 지원 서비스</div>
                </div>
                <div class="group-12">
                    <div class="frame-25">
                        <img class="group-13" src="{% static "images/intro/group-27.png" %}"/>
                        <div class="text-wrapper-23">연구소/공장 유치</div>
                    </div>
                    <div class="frame-26">
                        <img class="group-14" src="{% static "images/intro/group-28.png" %}"/>
                        <div class="text-wrapper-24">국내외<br/>지식재산권 확보</div>
                    </div>
                    <div class="frame-27">
                        <img class="group-15" src="{% static "images/intro/group-29.png" %}"/>
                        <div class="text-wrapper-24">법무/노무/세무<br/>전문가 자문</div>
                    </div>
                    <div class="frame-28">
                        <img class="group-16" src="{% static "images/intro/group-30.png" %}"/>
                        <p class="text-wrapper-24">VC / AC / 공공기관<br/>투자유치</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-4">
            <div class="group-wrapper">
                <div class="group-17">
                    <div class="overlap-group-5">
                        <div class="rectangle-7"></div>
                        <div class="frame-29">
                            <div class="frame-30">
                                <div class="text-wrapper-21">홀로서기를 위한 든든한 가이드</div>
                                <div class="text-wrapper-25">지금 비세이프와 함께하세요</div>
                            </div>
                            <div class="frame-14">
                                <div class="frame-31">
                                    <div class="text-wrapper-26">무료 상담 신청하기</div>
                                </div>
                                <div class="frame-32">
                                    <div class="text-wrapper-27">사업소개서 다운받기</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
