{% extends "base.html" %}
{% block title %}소개{% endblock %}
{% block site_name %}비세이프 소개: Dreams come true with Besafe{% endblock %}
{% block head %}
    <link href="/static/css/introduce_02.css" rel="stylesheet">
    <script src="/static/js/introduce_02.js"></script>
{% endblock %}
{% block article %}
    <section class="sec">
        <div class="sec-bg">
            <div class="top guide">
                <div class="title">
                    <h3>
                        Dreams come true<br>
                        with Besafe
                    </h3>
                    <p>
                        시행착오를 줄이고<br>
                        사업가들이 안전하게 사업할 수 있도록.
                    </p>
                    <span>꿈꿨던 사업을 진행하실 준비가 되셨나요?</span>
                    <button class="introduceBtn"><a href="http://naver.me/xzLQBbTU" download="besafe" target="_blank">회사소개서</a></button>
                </div>
                <div class="ceo">
                    <p>(주)라이트형제 대표</p>
                    <span>besafe.kr@gmail.com</span>
                    <h5>전형진</h5>
                </div>
            </div>
            <div class="bottom guide">
                <div class="youtube">
                    <iframe src="https://www.youtube.com/embed/nzNbjskkzn8" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
