{% set gnb_selected = "intro" %}
{% extends "base.html" %}

{% block seo %}
    <title>비세이프 소개 | 안전하게 사업 진행을 돕는 특허설계 전문기업</title>
    <meta property="description"
          content="비세이프는 Dreams come true의 슬로건 아래, 사업가들이 시행착오를 줄이고 안전하게 사업을 진행할 수 있도록 지원합니다. 꿈꾸던 사업을 시작하실 준비가 되셨다면, 비세이프와 함께하세요.">
    <meta property="keywords" content="비세이프, 특허설계, 사업 안전, 시행착오 줄이기, 사업가 지원, (주)라이트형제, 세종특별자치시">
    <meta property="og:title" content="비세이프 | 안전하게 사업 진행을 돕는 특허설계 전문기업">
    <meta property="og:description" content="사업가들의 시행착오를 줄이고 안전한 사업 진행을 지원하는 비세이프. 꿈꾸던 사업의 시작을 함께하세요.">
{% endblock %}

{% block head %}
    <link href="{% static "css/intro.css" %}?t={{ now().timestamp() }}" rel="stylesheet">
    <script>
        window.addEventListener("load", () => {
            const onShift = (e) => {
                const previous = e.currentTarget.ShiftInstance.currentShiftHandle.previousElementSibling;
                const current = e.currentTarget.ShiftInstance.currentShiftHandle;
                const next = e.currentTarget.ShiftInstance.currentShiftHandle.nextElementSibling;
                if (!previous || !current || !next) return;

                e.currentTarget.querySelectorAll(".year").forEach(el => el.style.display = "none");
                e.currentTarget.ShiftInstance.currentShiftHandle.previousElementSibling.style.display = "";
                e.currentTarget.ShiftInstance.currentShiftHandle.style.display = "";
                e.currentTarget.ShiftInstance.currentShiftHandle.nextElementSibling.style.display = "";
            };
            document.querySelector(".timeline.shift").addEventListener("shift", onShift);
            document.querySelector(".timeline.shift").addEventListener("load", onShift);


            const prevButton = document.querySelector('.bot.prev');
        const nextButton = document.querySelector('.bot.next');
        const slides = document.querySelectorAll('.slide-ul .cert');
        let currentIndex = 0;

        // 새로운 이미지 세트
        const newImages = [
        [
            {
                src: "{% static 'images/intro/cert/창업기획자등록증.png' %}",
                text: "창업기획자 등록증"
            },
            {
                src: "{% static 'images/intro/cert/중소기업상담회사등록증.png' %}",
                text: "중소기업상담회사 등록증"
            },
            {
                src: "{% static 'images/intro/cert/보증약정서.png' %}",
                text: "보증약정서"
            },
            {
                src: "{% static 'images/intro/cert/특허증.png' %}",
                text: "특허증"
            },
            {
                src: "{% static 'images/intro/cert/벤처기업확인서.png' %}",
                text: "벤처기업확인서"
            },
            {
                src: "{% static 'images/intro/cert/연구개발전담부서인정서.png' %}",
                text: "연구개발전담부서 인정서"
            },
            {
                src: "{% static 'images/intro/cert/입교사실확인서.png' %}",
                text: "청년창업사관학교 입교사실 확인서"
            },
            {
                src: "{% static 'images/intro/cert/직무발명보상우수기업인증서.png' %}",
                text: "직무발명보상우수기업 인증서"
            }
        ],
        
            
        [
            
            {
                src: "{% static 'images/intro/cert/image_3_1.png' %}",
                text: "도입의사 확약서"
            },
            {
                src: "{% static 'images/intro/cert/image_5_8.png' %}",
                text: "새로운 이미지 1"
            },
            {
                src: "{% static 'images/intro/cert/image_5_1.png' %}",
                text: "새로운 이미지 1"
            },
            {
                src: "{% static 'images/intro/cert/image_5_2.png' %}",
                text: "새로운 이미지 1"
            },
            {
                src: "{% static 'images/intro/cert/image_5_3.png' %}",
                text: "새로운 이미지 1"
            },
            {
                src: "{% static 'images/intro/cert/image_5_4.png' %}",
                text: "새로운 이미지 1"
            },
            {
                src: "{% static 'images/intro/cert/image_5_6.png' %}",
                text: "새로운 이미지 1"
            },
            {
                src: "{% static 'images/intro/cert/image_5_7.png' %}",
                text: "새로운 이미지 1"
            }
        ],

        [
            {
                src: "{% static 'images/intro/cert/입교사실확인서.png' %}",
                text: "새로운 이미지 2"
            },
            {
                src: "{% static 'images/intro/cert/입교사실확인서.png' %}",
                text: "새로운 이미지 2"
            },
            {
                src: "{% static 'images/intro/cert/입교사실확인서.png' %}",
                text: "새로운 이미지 2"
            },
            {
                src: "{% static 'images/intro/cert/입교사실확인서.png' %}",
                text: "새로운 이미지 2"
            },

            {
                src: "{% static '' %}",
                text: ""
            }
        ]
    
    
    ];

            nextButton.addEventListener('click', () => {
                if (currentIndex < newImages.length) {

                   
                    currentIndex ++;
                    slides.forEach((slide, index) =>  {

                    const value = {
                        "index" : index ,
                        "currentIndex" : currentIndex,
                        "data " : slide.querySelector('img').src
                    }
                    console.log(value);


                    if (index < newImages[currentIndex].length) { // 배열의 길이만큼 반복
                            slide.querySelector('img').src = newImages[currentIndex][index].src; // 이미지 변경
                            slide.querySelector('.wrapper').textContent = newImages[currentIndex][index].text; // 텍스트 변경
                        }
                    });
                }
            
            });
            
            prevButton.addEventListener('click', () => {
                if (currentIndex > 0) {
                    currentIndex --;

                    slides.forEach((slide, index) =>  {
                    if (index < newImages[currentIndex].length) { // 배열의 길이만큼 반복
                            slide.querySelector('img').src = newImages[currentIndex][index].src; // 이미지 변경
                            slide.querySelector('.wrapper').textContent = newImages[currentIndex][index].text; // 텍스트 변경
                        }
                    });

                }
                
            });

    });

    </script>
{% endblock %}

{% block body %}
    <div class="intro biz">
        <section class="hero">
            <div class="container">
                <h1>Dreams come true<br/>with Besafe</h1>
                <h3>시행착오를 줄이고 사업가들이 안전하게 사업할 수 있도록.</h3>
            </div>
        </section>
        <div class="container">
            <div class="tabbar">
                <div class="tabbar__item">
                    <a href="/intro-service">서비스 소개</a>
                </div>
                <div class="tabbar__item active">
                    <a href="/intro-biz">회사 소개</a></div>
            </div>
        </div>
        <section class="vision container">
            <h1>Vision & Mission</h1>
            <img src="{% static "images/intro/venn-diagram.png" %}"/>
        </section>
        <section class="history container">
            <h1>History</h1>
            <div class="timeline shift" data-id="2023">
                <div class="timeline__paging">
                    <div class="nav prev shift__left"></div>
                    <ul class="years">
                        <li class="year shift__handle" data-shift_id="2019">2019</li>
                        <li class="year shift__handle" data-shift_id="2020">2020</li>
                        <li class="year shift__handle" data-shift_id="2021">2021</li>
                        <li class="year shift__handle" data-shift_id="2022">2022</li>
                        <li class="year shift__handle active" data-shift_id="2023">2023</li>
                        <li class="year shift__handle" data-shift_id="2024">2024</li>
                    </ul>
                    <div class="nav next shift__right"></div>
                </div>
                <ul class="timeline__contents shift__item" data-shift_id="2019">
                    <li>5월 주식회사 라이트형제 설립 (경기도 성남시)</li>
                    <li>7월 성남산업진흥원 'IP Private Banking Service' 수행</li>
                    <li>8월 연구개발전담부서 설립 (가천대학교)</li>
                    <li>11월 가천대학교 가족기업 선정</li>
                    <li>12월 창업성공패키지 프리스쿨 심화과정 수행</li>
                    <li>12월 성남산업진흥원 정글ON 수행기업</li>
                </ul>
                <ul class="timeline__contents shift__item" data-shift_id="2020">
                    <li>2월 청년창업사관학교 수행</li>
                    <li>4월 창업진흥원 서비스바우처 사업 수행</li>
                    <li>4월 직무발명보상 우수기업 선정</li>
                    <li>10월 기술보증기금 벤처기업 인증</li>
                    <li>11월 성남산업진흥원 Re-Start 수행기업</li>
                </ul>
                <ul class="timeline__contents shift__item" data-shift_id="2021">
                    <li>1월 재도전성공패키지 수행</li>
                    <li>3월 신진연구인력 지원사업 수행</li>
                    <li>4월 창업기업지원서비스 바우처 수행</li>
                    <li>10월 업종전환 지원기업 선정</li>
                </ul>
                <ul class="timeline__contents shift__item" data-shift_id="2022">
                    <li>1월 세종특별자치시 이전</li>
                    <li>3월 창업보육 브랜드 '비세이프' 론칭</li>
                    <li>6월 초기창업자 보육 서비스 시작</li>
                    <li>10월 자본금 증자 (1억원)</li>
                </ul>
                <ul class="timeline__contents shift__item active" data-shift_id="2023">
                    <li>3월 중소벤처기업부 액셀러레이터 지정</li>
                    <li>4월 액셀러레이팅 투자 진행</li>
                    <li>6월 누적 투자 금액 5,000만원 돌파 (6개 기업)</li>
                    <li>6월 중소기업상담회사 지정</li>
                    <li>6월 연구개발전담부서 이전 (성남 → 세종)</li>
                    <li>8월 누적 투자 금액 1억원 돌파 (9개 기업)</li>
                </ul>
            </div>
        </section>
        <section class="team container">
            <h1>Team building</h1>
            <div class="teammates slide stop">
                <div class="nav prev slide-left"></div>
                <ul class="slide-ul">
                    {% for tc in teammate_contents %}
                        <li class="teammate">
                            <div class="rect"
                                 style="background-image: url('/media/{{ tc.banner_img }}')">
                                <div class="inner"></div>
                            </div>
                            <div class="label">
                                <div class="position">{{ tc.position }}</div>
                                <div class="name">{{ tc.name }}</div>
                                <ul class="roles">
                                    {% for role in tc.roles.all() %}
                                        <li>{{ role.role }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="nav next slide-right"></div>
            </div>
        </section>
        <section class="certification container">
            <h1>Certification</h1>
            <div class="certs container slide stop">
                <div class="bot prev slide-left"></div>
                <ul class="slide-ul">
                    <li class="cert">
                        <img loading="lazy" src="{% static "images/intro/cert/창업기획자등록증.png" %}"/>
                        <div class="wrapper">창업기획자 등록증</div>
                    </li>
                    <li class="cert">
                        <img loading="lazy" src="{% static "images/intro/cert/중소기업상담회사등록증.png" %}"/>
                        <div class="wrapper">중소기업상담회사 등록증</div>
                    </li>
                    <li class="cert">
                        <img loading="lazy" src="{% static "images/intro/cert/보증약정서.png" %}"/>
                        <div class="wrapper">보증약정서</div>
                    </li>
                    <li class="cert">
                        <img loading="lazy" src="{% static "images/intro/cert/특허증.png" %}"/>
                        <div class="wrapper">특허증</div>
                    </li>
                    <li class="cert">
                        <img loading="lazy" src="{% static "images/intro/cert/벤처기업확인서.png" %}"/>
                        <div class="wrapper">벤처기업확인서</div>
                    </li>
                    <li class="cert">
                        <img loading="lazy" src="{% static "images/intro/cert/연구개발전담부서인정서.png" %}"/>
                        <div class="wrapper">연구개발전담부서 인정서</div>
                    </li>
                    <li class="cert">
                        <img loading="lazy" src="{% static "images/intro/cert/입교사실확인서.png" %}"/>
                        <div class="wrapper">청년창업사관학교 입교사실 확인서</div>
                    </li>
                    <li class="cert">
                        <img loading="lazy" src="{% static "images/intro/cert/직무발명보상우수기업인증서.png" %}"/>
                        <div class="wrapper">직무발명보상우수기업 인증서</div>
                    </li>
                </ul>
                <div class="bot next slide-right"></div>
            </div>
        </section>
        <section class="outro container">
            <h1>선순환적인 성공 구조, <br/><b>비세이프가 만들어 갑니다</b></h1>
            <div class="graph">
                <div class="wrapper">
                    <div class="circle">
                        <label>INVESTOR</label>
                        <div class="circle">
                            <label>BESAFE</label>
                            <div class="circle">
                                <label class="last">STARTUP</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <div class="contents">스타트업의 성공이</div>
                    <div class="contents">비세이프의 성공이 되고</div>
                    <div class="contents">우리의 성공이 투자자의 성공이 되는 구조</div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
