{% extends "base.html" %}
{% block head %}
    <link href="/static/css/portfolio_04.css" rel="stylesheet">
    <script src="/static/js/portfolio_04.js"></script>
{% endblock %}
{% block article %}
    <section class="sec guide">
        <ul class="sec-list01">
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>보리보리</p>
                </div>
                <a href="http://naver.me/x8iA1yFd" download="boribori">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio01.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>

                <span>Project</span>
                <p>보리보리</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>플라잉</p>
                </div>
                <a href="http://naver.me/FVbmWojM" download="flyingjapan">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio02.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>플라잉</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>우주이엔지</p>
                </div>
                <a href="http://naver.me/5LoWTYHh" download="VFU">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio03.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>우주이엔지</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>노브레이너</p>
                </div>
                <a href="http://naver.me/xhnxbiuk" download="nobrainer">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio04.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>노브레이너</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>VFU</p>
                </div>
                <a href="http://naver.me/FU9Z45L6" download="boribori">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio05.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>

                <span>Project</span>
                <p>VFU</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>KW</p>
                </div>
                <a href="/static/file/flyingjapan.pdf" download="flyingjapan">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio06.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>KW</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>바이버</p>
                </div>
                <a href="http://naver.me/5fjDvXA8" download="VFU">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio07.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>바이버</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>샤인</p>
                </div>
                <a href="http://naver.me/5P2TLnGG" download="nobrainer">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio08.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>샤인</p>
            </li>
        </ul>

    </section>
{% endblock %}
