{% extends "base.html" %}
{% block head %}
    <link href="/static/css/portfolio_04.css" rel="stylesheet">
    <script src="/static/js/portfolio_04.js"></script>
{% endblock %}
{% block article %}
    <section class="sec guide">
        <ul class="sec-list01">
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>보리보리</p>
                </div>
                <a href="/static/file/boribori.pdf" download="boribori">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio01.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>

                <span>Project</span>
                <p>보리보리</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>플립이블</p>
                </div>
                <a href="/static/file/flyingjapan.pdf" download="flyingjapan">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio02.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>플립이블</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>우주이엔지</p>
                </div>
                <a href="/static/file/VFU.pdf" download="VFU">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio03.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>우주이엔지</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>노브레이너</p>
                </div>
                <a href="/static/file/nobrainer.pdf" download="nobrainer">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio04.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>노브레이너</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>보리보리</p>
                </div>
                <a href="/static/file/boribori.pdf" download="boribori">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio01.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>

                <span>Project</span>
                <p>보리보리</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>플립이블</p>
                </div>
                <a href="/static/file/flyingjapan.pdf" download="flyingjapan">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio02.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>플립이블</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>우주이엔지</p>
                </div>
                <a href="/static/file/VFU.pdf" download="VFU">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio03.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>우주이엔지</p>
            </li>
            <li>
                <div class="text">
                    <span>UX & UI / Branding</span>
                    <p>노브레이너</p>
                </div>
                <a href="/static/file/nobrainer.pdf" download="nobrainer">
                    <img loading="lazy" src="/static/images/portfolio_04/portfolio04.png" alt="">
                </a>
                <div class="btn-wrap">
                    <button class="pc type-pc">회사소개서</button>
                </div>
                <span>Project</span>
                <p>노브레이너</p>
            </li>
        </ul>

    </section>
{% endblock %}
