{% extends "base.html" %}
{% block seo %}
    <title>비세이프 파트너 제휴 | 함께 성장하는 파트너를 찾습니다</title>
    <meta property="description"
          content="비세이프와의 제휴를 통해 더 큰 성장을 경험하세요. 소중한 제안과 문의를 기다립니다. 빠른 시일 내에 성실히 답변 드리겠습니다.">
    <meta property="keywords" content="비세이프, 제휴문의, 파트너 제휴, 함께 성장, 비세이프 제휴">
    <meta property="og:title" content="비세이프 파트너 제휴 | 함께 성장하는 파트너를 찾습니다">
    <meta property="og:description" content="비세이프와의 제휴를 통해 상생과 성장의 기회를 만나보세요. 궁금하신 점이나 제안사항을 남겨주시면 신속히 연락 드리겠습니다.">
{% endblock %}
{% block head %}
    <link href="/static/css/serviceCenter_05.css" rel="stylesheet">
    <script src="/static/js/serviceCenter_05.js"></script>
{% endblock %}
{% block article %}
    <section class="sec guide">
        <div class="top">
            <div class="title">
                <h3>파트너 제휴</h3>
                <h5>
                    비세이프와<br>
                    소중한 인연을 기대합니다.
                </h5>
                <p>
                    보내주신 문의사항은<br>
                    빠른 시일내에 확인 후 답변드리겠습니다.
                </p>
            </div>

            <div class="table-wrap">
                <span class="line"></span>
                <table class="table">
                    <tr>
                        <td class="info">Add.</td>
                        <td>세종특별자치시 조치원읍 으뜸길 177 1층</td>
                    </tr>
                    <tr>
                        <td class="info">Tel.</td>
                        <td>1533-8231</td>
                    </tr>
                    <tr>
                        <td class="info">Fax.</td>
                        <td>0504-425-6293</td>
                    </tr>
                    <tr>
                        <td class="info">Mail.</td>
                        <td>besafe.kr@gmail.com</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="bottom">
            <form action="/api/partnership" method="POST" class="form">
                {% csrf_token %}
                <div class="form-wrap">
                    <p>
                        <strong>연락처</strong>
                        <input name="phone" type="text" placeholder="전화/문자 가능한 연락처">
                        <label></label>
                    </p>
                    <p>
                        <strong>이메일</strong>
                        <input name="email" type="email" placeholder="sample@besafe.com">
                        <label></label>
                    </p>
                    <p>
                        <strong>제안내용</strong>
                        <input name="inquiry" class="contents" type="text" placeholder="제안 내용을 편하게 입력해주세요 :)">
                        <label></label>
                    </p>
                </div>
                <div class="submit-wrap">
                    <input class="submit" type="submit" value="제안하기">
                </div>
            </form>
        </div>

    </section>
{% endblock %}
