{% extends "base.html" %}
{% block title %}로그인{% endblock %}
{% block head %}
    <link href="/static/css/besafe-ui.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <script src="/static/js/signin.js"></script>
{% endblock %}
{% block article %}
    <section class="sec guide">
        <div class="top">
            <div class="title">
                <h1>로그인</h1>
                <h3>로그인이 필요한 서비스입니다.</h3>
            </div>
        </div>
        <div class="bottom">
            <form>
                <fieldset>
                    <label>
                        <span>이메일</span>
                        <input type="email"/>
                    </label>
                    <label>
                        <span>비밀번호</span>
                        <input type="password"/>
                    </label>
                </fieldset>
                <fieldset class="button">
                    <button class="primary" type="button">로그인</button>
                </fieldset>
            </form>
        </div>
    </section>
{% endblock %}
