@import '../vars-layout';

.detail {
  padding: 100px 1em;
  @media (max-width: 768px) {
    padding: 70px 1em;
  }

  @media (max-width: 512px) {
    padding: 40px 0;
  }

  &__head {
    margin-bottom: 40px;

    @media (max-width: 768px) {
      margin-bottom: 0;
    }

    .title {
      color: #000;
      font-family: NanumSquare Neo, sans-serif;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: -1.5px;
      margin-bottom: 32px;
      text-align: center;
      @media (max-width: 512px) {
        font-size: 30px;
        text-align: left;
      }
    }

    .tags {
      padding: 0;
      margin: 0;
      margin-bottom: 12px;

      text-align: center;
      @media (max-width: 512px) {
        text-align: left;
      }

      .tag {
        white-space: nowrap;
        border-radius: 4px;
        display: inline-block;
        background-color: $primary;
        padding: 10px;
        color: #FFF;
        text-align: center;
        font-family: Pretendard, sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.6px;
        margin-right: 10px;
        margin-bottom: 10px;
        @media (max-width: 768px) {
          font-size: 18px;
          margin-right: 8px;
          margin-bottom: 8px;
        }

        @media (max-width: 512px) {
          font-size: 14px;
          margin-right: 6px;
          margin-bottom: 6px;
        }
      }
    }

    .link {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      font-family: Pretendard, sans-serif;
      font-weight: 500;
      letter-spacing: -0.72px;
      gap: 4px;
      font-size: 24px;
      @media (max-width: 768px) {
        font-size: 20px;
      }
      @media (max-width: 512px) {
        font-size: 16px;
        justify-content: start;
      }

      label {
        color: #888;
      }

      a {
        color: $primary;
      }
    }
  }

  &__body {
    padding: 60px 0;
    @media (max-width: 768px) {
      padding: 50px 0;
    }
    @media (max-width: 512px) {
      padding: 40px 0;
    }

    img {
      width: 100%;
      max-width: 100%;
    }

    p {
      margin: 0;
    }
  }

  &__foot {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .paging {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 32px;

      .nav {
        width: 48px;
        height: 23px;
        background-image: url("/static/images/portfolio/arrow-green-long.svg");
        background-repeat: no-repeat;
        background-size: 100%;

        @media (max-width: 768px) {
          width: 40px;
          height: 19.17px;
        }
        @media (max-width: 512px) {
          width: 30px;
          height: 14.375px;
        }

        &.prev {
          transform: rotateY(180deg);
        }

        &.next {

        }
      }
    }

    .buttons {
      button {
        background-color: $primary;
        color: #FFF;
        font-family: Pretendard, sans-serif;
        font-size: 18px;
        font-weight: 700;
        @media (max-width: 512px) {
          font-size: 14px;
        }
      }
    }
  }
}
